 html {
     font-family: "Roboto", sans-serif;
     min-height: 100%;
     position: relative;
 }
 body {
     background: #fcfcfc;
     height: 100%;
     margin: 0 0 50px;
     overflow-x: hidden;
 }
 /*listas*/
 
 .collapsible-header {
     border: none;
     background: none;
 }
 .collapsible {
     border: none;
 }
 /*****************************/
 
 .botao-exercicio {
     padding: 5px 10px;
     background: #26a69a;
     color: #fff;
     border-radius: 4px;
     cursor: pointer;
     text-align: center;
     margin-bottom: 15px;
     transition: 0.5s linear;
 }
 #titulo-mobile {
     font-size: 16px;
     font-weight: 500;
 }
 input.botao-exercicio {
     color: #fff;
 }
 label.botao-exercicio {
     color: #fff;
 }
 .botao-exercicio:hover {
     background: #0f7e74;
     transition: 0.5s linear;
 }
 a.btn-ex {
     border: none;
     text-decoration: none;
 }
 .escolhaEx {
     padding: 5px 10px;
     border-radius: 3px;
     margin: 5px 2px;
     height: 42px;
 }
 label.escolhaEx {
     color: #fff;
     padding: 0 30px;
 }
 .clearM {
     margin: 0;
 }
 .rowClear {
     margin: 0;
     padding: 0;
 }
 @media (max-width: 480px) {
     .modal {
         width: 95%;
     }
 }
 .buscar {
     margin: 5px 0;
     background: #ccc;
     height: 50px;
     box-shadow: none;
 }
 .menu-topo {
     height: 70px;
     padding: 10px;
     background: #f5f5f5;
     box-shadow: none;
 }
 .botao-topo {
     top: -8px;
 }
 .ul-topo {
     top: -8px;
     position: relative;
 }
 .li-topo a {
     color: #000;
 }
 .conteudo {
     width: 34% !important;
     min-width: 400px !important;
 }
 .container-fluid {
     width: 96%;
     margin-left: auto;
     margin-right: auto;
 }
 .loud {
     min-height: 350px;
 }
 @media (max-width: 480px) {
     .loud {
         min-height: auto;
     }
 }
 .titulo {
     text-align: center !important;
     width: auto !important;
     height: auto !important;
     float: center !important;
     margin: auto !important;
 }
 .clear {
     margin: 0;
     padding: 0;
     clear: both;
 }
 .seletor {
     margin-left: 3rem !important;
 }
 .tabela {
     margin-left: auto !important;
     margin-right: auto !important;
 }
 .linha {
     border-bottom: 1px solid #d0d0d0 !important;
     border-right: 1px solid #d0d0d0 !important;
 }
 .linha td {
     vertical-align: middle !important;
 }
 .botao {
     vertical-align: middle !important;
     text-align: center !important;
 }
 .forms {
     padding-top: auto;
     padding-bottom: auto;
 }
 .opcao {
     width: 400px !important;
 }
 .logout {
     float: right !important;
     position: relative !important;
 }
 .search {
     width: 300px !important;
     float: right !important;
     margin-top: 0px !important;
 }
 .topo {
     height: 36px !important;
     display: block !important;
 }
 .select {
     margin-top: 48px !important;
 }
 footer.page-footer {
     background-color: #f5f5f5;
 }
 .light,
 footer.page-footer .footer-copyright {
     color: #878787;
 }
 /*temporario fixo*/
 
 #blocos {
     position: absolute;
     top: 120px;
 }
 #blocos-circ {
     position: absolute;
     top: 110px;
 }
 #imagem {
     background-image: url('../imagens/corpo.jpg');
     width: 260px;
     height: 480px;
     background-repeat: no-repeat;
     background-position: center;
     background-size: 260px;
 }
 #circunferencia {
     background-image: url('../imagens/corpo-circunferencia.png');
     width: 260px;
     height: 480px;
     background-color: transparent;
     background-repeat: no-repeat;
     background-position: center;
     background-size: 220px;
 }
 @media(min-width:300px) {
     #blocos-circ {
         position: absolute;
         top: 110px;
     }
 }
 @media(min-width:768px) {
     #blocos-circ {
         position: absolute;
         top: 110px;
     }
 }
 .kkk {
     background-color: rgba(0, 0, 0, 0.5);
     padding: 4px 4px 0px 4px;
     margin: 0;
     border: none;
     border-radius: 64px;
     color: #fff;
 }
 /*biceps*/
 
 .musculo1 {
     position: relative;
     top: 150px;
     left: 40px;
 }
 /*triceps*/
 
 .musculo2 {
     position: relative;
     top: 175px;
     left: 180px;
 }
 /*subescapular*/
 
 .musculo3 {
     position: relative;
     top: 185px;
     left: 10px;
 }
 /*peitoral*/
 
 .musculo4 {
     position: relative;
     top: 180px;
     left: 70px;
 }
 /*supra iliaca*/
 
 .musculo5 {
     position: relative;
     top: 260px;
     left: -5px;
 }
 /*coxa*/
 
 .musculo6 {
     position: relative;
     top: 330px;
     left: 20px;
 }
 /*abdomen*/
 
 .musculo7 {
     position: relative;
     top: 220px;
     left: -30px;
 }
 /*panturrilha*/
 
 .musculo8 {
     position: absolute;
     left: 137px;
     top: 410px;
 }
 /*Protocolo de 3 dobras */
 
 .musculoTr3 {
     position: relative;
     top: 175px;
     left: 210px;
 }
 .musculoSI3 {
     position: relative;
     top: 260px;
     left: 70px;
 }
 .musculoCx3 {
     position: relative;
     top: 330px;
     left: 45px;
 }
 /* Circunferencia */
 
 .medida1 {
     position: relative;
     top: 110px;
     left: 55px;
 }
 .medida2 {
     position: relative;
     top: 170px;
     left: 20px;
 }
 .medida3 {
     position: relative;
     top: 125px;
     left: 125px;
 }
 .medida4 {
     position: relative;
     top: 163px;
     left: 110px;
 }
 .medida5 {
     position: relative;
     top: 120px;
     left: 10px;
 }
 .medida6 {
     position: relative;
     top: 160px;
     left: -20px;
 }
 .medida7 {
     position: relative;
     top: 190px;
     left: -70px;
 }
 .medida8 {
     position: relative;
     top: 190px;
     left: -35px;
 }
 .medida9 {
     position: relative;
     top: 270px;
     left: -128px;
 }
 .medida10 {
     position: relative;
     top: 250px;
     left: -95px;
 }
 .medida11 {
     position: absolute;
     top: 370px;
     left: 65px;
 }
 .medida12 {
     position: absolute;
     top: 370px;
     left: 140px;
 }
 /*Cintura quadril*/
 
 .medCnt {
     position: relative;
     top: 175px;
     left: 95px;
 }
 .medQd {
     position: relative;
     top: 210px;
     left: 120px;
 }
 /* Editar Aluno*/
 
 .alinhack {
     position: relative;
     top: 8px;
 }
 input[type="number"].alinha {
     height: 30px;
 }
 .botoes-dash {
     margin: 10px 0;
     cursor: pointer;
     border-radius: 6px;
     border: 1px solid #34b6a9;
     padding: 8px;
     transition: 0.3s linear;
     font-weight: bold;
     color: #26a69a;
 }
 .botoes-dash:hover {
     background: #f8f8f8;
     border: 1px solid #0f7e74;
     transition: 0.3s linear;
     color: #0f7e74;
     box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.20), 0 2px 10px 0 rgba(0, 0, 0, 0.20);
 }
 span.dash-name {
     margin: 5px 0;
     position: relative;
     display: block;
     clear: both;
 }
 .markedAsDone {
     color: #b3b3b3;
     text-decoration: line-through;
 }
 .markedAsDone img {
     opacity: 0.5;
 }
 label {
     color: #000;
 }
 h2.ver-fichas {
     font-size: 16px;
     padding: 0;
     margin: 8px 0;
 }
 h2.ver-grupo {
     font-size: 16px;
     padding: 5px;
     margin: 8px 0px;
     border-bottom: 1px solid #878787;
     width: 100%;
 }
 .bloco-info {
     margin: 0;
 }
 span.color-legenda {
     color: #878787;
 }
 .selected {
     background-color: #e6e6e6;
 }
 .btn-ficha {
     padding: 8px 10px 0 10px;
     border-radius: 2px;
     color: #fff;
 }
 .tabelaVerAluno td,
 .tabelaVerAluno th {
     padding: 15px, 1px;
     font-size: 13px;
 }
 [type="checkbox"] + label.checkCorrigido {
     padding-left: 15px;
 }
 .checkboxPreenchido[type="checkbox"].filled-in:checked + label:after {
     border: 2px solid #009688;
     background-color: #009688;
 }
 .checkboxPreenchido[type="checkbox"].filled-in label {
     width: 10px;
     height: 20px;
 }
 .nome-ficha {
     margin-top: 30px;
     margin-left: 10px;
     text-align: center;
     font-size: 18px;
     font-weight: bold;
 }
 .exercicios-ficha {
     /*border-bottom: 1px solid #dddddd;*/
     
     padding: 0;
     width: 100%;
     height: 45px;
     margin-top: 10px;
 }
 .exercicioGrupo {
     background: #ccc;
 }
 .exercicios-ficha h2 {
     font-size: 15px;
     margin: 0;
 }
 .exercicios-ficha span {
     font-size: 13px;
 }
 .exercicios-fichinha {
     background: #fff;
 }
 @media (max-width: 480px) {
     #footerFixo {
         background: #f5f5f5;
         position: fixed;
         left: 0;
         right: 0;
         bottom: 0;
         color: #fff;
         z-index: 1040;
         height: 45px;
         box-shadow: 0px -3px 15px 0px rgba(50, 50, 50, 0.1);
     }
     .botoesFooter {
         cursor: pointer;
         padding: 5px 0;
         transition: 0.3s linear;
         font-weight: bold;
         color: #26a69a;
         font-size: 20px;
     }
     .botoesFooter:hover,
     .botoesFooter:active {
         transition: 0.3s linear;
         color: #0f7e74;
     }
     span.footName {
         top: -8px;
         margin: 0;
         padding: 0;
         position: relative;
         display: block;
         clear: both;
         font-size: 10px;
     }
     #title-page {
         display: none;
     }
 }
 @media (min-width: 480px) {
     #navFixa {
         display: none;
     }
     #footerFixo {
         display: none;
     }
     span.fs {
         display: none;
     }
 }
 .nav-bread {
     line-height: 40px;
     height: auto;
 }
 .titulo-desk {
     font-size: 25px;
     margin: 4px 0;
 }
 .pagination {
     margin-top: 35px;
 }
 .breadcrumb::before {
     color: #191919;
 }
 .breadcrumb {
     font-size: 14px;
     color: #191919;
 }
 .breadcrumb:last-child {
     color: #009688;
 }