<script>
    $(document).ready(function() {
        var tituloPagina = $("#nome-pagina").text();
        $("#titulo-mobile").text(tituloPagina);
    });
</script>
<div class="container-fluid loud" style="margin-top: 20px;" ng-controller="usuario">
    <div class="row" id="title-page">
        <h2 class="titulo-desk center" id="nome-pagina">Dashboard</h2>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col s6 m4 l2">
                <a ng-click="alunos()">
                    <div class="botoes-dash center">
                        <span><i class="medium material-icons">people</i></span>
                        <span class="dash-name">Alunos</span>
                    </div>
                </a>
            </div>
            <div class="col s6 m4 l2">
                <a ng-click="instrutor()">
                    <div class="botoes-dash center">
                        <span><i class="medium material-icons">people_outline</i></span>
                        <span class="dash-name">Instrutores</span>
                    </div>
                </a>
            </div>
            <div class="col s6 m4 l2">
                <a ng-click="">
                    <div class="botoes-dash center">
                        <span><i class="medium material-icons">restaurant_menu</i></span>
                        <span class="dash-name">Nutrição</span>
                    </div>
                </a>
            </div>
            <div class="col s6 m4 l2">
                <a ng-click="">
                    <div class="botoes-dash center">
                        <span><i class="medium material-icons">attach_money</i></span>
                        <span class="dash-name">Financeiro</span>
                    </div>
                </a>
            </div>
            <div class="col s6 m4 l2">
                <a ng-click="">
                    <div class="botoes-dash center">
                        <span><i class="medium material-icons">equalizer</i></span>
                        <span class="dash-name">Estatisticas</span>
                    </div>
                </a>
            </div>
            <div class="col s6 m4 l2">
                <a ng-click="alterar()">
                    <div class="botoes-dash center">
                        <span><i class="medium material-icons">assignment_ind</i></span>
                        <span class="dash-name">Minha Conta</span>
                    </div>
                </a>
            </div>

            <div class="col s6 m4 l2">
                <a ng-click="verTreino()">
                    <div class="botoes-dash center">
                        <span><i class="medium material-icons">view_week</i></span>
                        <span class="dash-name">Treinos</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>