<div>
    <div class="container conteudo">

        <div class="row" id="title-page">
            <h2 class="titulo-desk center" id="nome-pagina">Alterar aluno: {{aluno.nome}}</h2>
        </div>

        <a class="waves-effect waves-light btn z-depth-0" ng-click="habitos()" aria-label="habitos">
            <i class="material-icons">add</i>
        </a>
        <form name="cadastro">

            <md-input-container class="md-block">
                <label>Nome do Aluno</label>
                <input required name="nome" ng-model="aluno.nome" ng-value="aluno.nome" />
                <div ng-messages="cadastro.nome.$error">
                    <div ng-message="required">Preencha este campo.</div>
                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <label>Nascimento</label>
                <input name="nascimento" ng-model="aluno.nascimento" required value="aluno.nascimento" ui-mask="99/99/9999" ui-mask-placeholder ui-mask-placeholder-char=" " />
            </md-input-container>

            <md-input-container class="md-block">
                <label>Telefone</label>
                <input type="text" name="telefone" ng-model="aluno.telefone" ui-mask="(999) 9999-9999" ui-mask-placeholder ui-mask-placeholder-char=" " required value="aluno.telefone" />
                <div ng-messages="cadastro.nome.$error">
                    <div ng-message="required">Preencha este campo.</div>
                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <label>E-mail</label>
                <input required type="email" name="email" ng-model="aluno.email" ng-pattern="/^.+@.+\..+$/" value="aluno.email" />
                <div ng-messages="cadastro.email.$error" role="alert">
                    <div ng-message-exp="['required', 'pattern']">
                        Entre com um e-mail válido.
                    </div>
                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <label>Nome do Instrutor</label>
                <input required name="nomeInstrutor" ng-model="aluno.nomeInstrutor" value="aluno.nomeInstrutor" />
                <div ng-messages="cadastro.nomeInstrutor.$error">
                    <div ng-message="required">Preencha este campo.</div>
                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <label>CEP</label>
                <input type="text" required name="cep" ng-model="aluno.cep" ui-br-cep-mask value="aluno.cep" ui-mask="99999-999" ui-mask-placeholder ui-mask-placeholder-char=" " />
                <div ng-messages="cadastro.cep.$error">
                    <div ng-message="required">Preencha este campo.</div>
                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <label>Endereço</label>
                <input required name="endereco" ng-model="aluno.endereco" value="aluno.endereco" />
                <div ng-messages="cadastro.endereco.$error">
                    <div ng-message="required">Preencha este campo.</div>
                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <label>Número</label>
                <input required name="numeroCasa" ng-model="aluno.numeroCasa" value="aluno.numeroCasa" />
                <div ng-messages="cadastro.numeroCasa.$error">
                    <div ng-message="required">Preencha este campo.</div>
                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <label>Estado</label>
                <md-select name="estado" ng-model="aluno.estado" value="aluno.estado">
                    <md-option value="Acre">AC</md-option>
                    <md-option value="Aagoas">AL</md-option>
                    <md-option value="Amapá">AP</md-option>
                    <md-option value="Amazonas">AM</md-option>
                    <md-option value="Bahia">BA</md-option>
                    <md-option value="Ceará">CE</md-option>
                    <md-option value="Dstrito Federal">DF</md-option>
                    <md-option value="Espírito Santo">ES</md-option>
                    <md-option value="Goiás">GO</md-option>
                    <md-option value="Maranhão">MA</md-option>
                    <md-option value="Mato Grosso">MT</md-option>
                    <md-option value="Mato Grosso do Sul">MS</md-option>
                    <md-option value="Minas Gerais">MG</md-option>
                    <md-option value="Pará">PA</md-option>
                    <md-option value="Paraíba">PB</md-option>
                    <md-option value="Paraná">PR</md-option>
                    <md-option value="Pernambuco">PE</md-option>
                    <md-option value="Piauí">PI</md-option>
                    <md-option value="Rio de Janeiro">RJ</md-option>
                    <md-option value="Rio Grande do Norte">RN</md-option>
                    <md-option value="Rio Grande do Sul">RS</md-option>
                    <md-option value="Rondônia">RO</md-option>
                    <md-option value="Roraima">RR</md-option>
                    <md-option value="Santa Catarina">SC</md-option>
                    <md-option value="São Paulo">SP</md-option>
                    <md-option value="Sergipe">SE</md-option>
                    <md-option value="Tocantins">TO</md-option>
                </md-select>
            </md-input-container>

            <md-input-container class="md-block">
                <label>Cidade</label>
                <input required name="cidade" ng-model="aluno.cidade" value="aluno.cidade" />
                <div ng-messages="cadastro.cidade.$error">
                    <div ng-message="required">Preencha este campo.</div>
                </div>
            </md-input-container>

            <div class="botao">
                <md-button ng-click="salvar()" class="btn btn-raised btn-success">
                    <i class="fa fa-save"></i> Salvar
                </md-button>
                <button ng-click="voltar()" class="btn btn-raised btn-info">
                    <i class="fa fa-rotate-left"></i> Voltar
                </button>
            </div>
        </form>
    </div>
</div>