<div class="container-fluid" style="margin-top:10px;">
    <div class="row">

        <div class="row clear" id="title-page">
            <div class="col s12" style="margin-bottom:20px;">
                <div class="col s12 m3 l2" style="margin-bottom:20px;">
                    <a class="waves-effect grey darken-1 btn z-depth-0 col s12" ng-click="voltar()" style="margin-top:5px;"><i class="material-icons left">chevron_left</i>Voltar</a>
                </div>
                <nav class="col s12 m9 l10 z-depth-0 grey lighten-4 nav-bread">
                    <div class="nav-wrapper">
                        <div class="col s12">
                            <a class="breadcrumb">Dashboard</a>
                            <a class="breadcrumb">Lista de Alunos</a>
                            <a class="breadcrumb">Gerenciar Aluno</a>
                            <a class="breadcrumb">Anamnese</a>
                        </div>
                    </div>
                </nav>
            </div>
            <h2 class="titulo-desk center" id="nome-pagina">Anamnese</h2>
        </div>

        <p class="center">Nome Completo do Aluno</p>
    </div>
    <div class="container-fluid loud" ng-controller="aluno">
        <div class="row">
            <div class="col s12 m12 l12">
                <div class="col s12 m6 l4">
                    <a class="btn-ex" ng-click="infoBasico()">
                        <div class="botao-exercicio">Informações básicas</div>
                    </a>
                </div>
                <div class="col s12 m6 l4">
                    <a class="btn-ex" ng-click="habitos()">
                        <div class="botao-exercicio">Hábitos</div>
                    </a>
                </div>
                <div class="col s12 m6 l4">
                    <a class="btn-ex" ng-click="aspectosClinicos()">
                        <div class="botao-exercicio">Problemas de saúde</div>
                    </a>
                </div>
                <div class="col s12 m6 l4">
                    <a class="btn-ex" ng-click="dobras()">
                        <div class="botao-exercicio">Dobras cutâneas</div>
                    </a>
                </div>
                <div class="col s12 m6 l4">
                    <a class="btn-ex" ng-click="circunferencias()">
                        <div class="botao-exercicio">Circunferência</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>