<div class="container-fluid" style="margin-top: 80px;">
    <div class="row" id="resultados">
        <div class="col s1">
            <p></p>
        </div>
        <div class="col s12 m6 l3">
            <input required min="0" name="gordura" ng-model="ficha.gordura" aria-label="gordura" placeholder="% de gordura">
        </div>
        <div class="col s12 m6 l3">
            <input required min="0" name="mg" ng-model="ficha.mg" aria-label="mg" placeholder="Massa gorda">
        </div>
        <div class="col s12 m6 l3">
            <input required min="0" name="MCM" ng-model="ficha.MCM" aria-label="MCM" placeholder="Massa corporal magra">
        </div>
        <div class="col s12 m6 l3">
            <input required min="0" name="imc" ng-model="ficha.imc" aria-label="imc" placeholder="IMC">
        </div>
        <div class="col s12 m6 l3">
            <input required min="0" name="rcq" ng-model="ficha.rcq" aria-label="rcq" placeholder="RCQ">
        </div>
        <div class="col s1">
            <p></p>
        </div>
    </div>
    <div class="col s12" style="margin-top: 30px;">
        <div class="right col-s6" style="margin-left: 20px;">
            <input ng-click="salvar()" class="waves-effect waves-light green btn" value="Salvar">
        </div>
        <div class="right col-s6">
            <input ng-click="voltar()" class="waves-effect waves-light blue btn" value="Voltar">
        </div>
    </div>
</div>
</div>