<div class="container-fluid loud" style="margin-top:10px;">
    <div class="row">

        <div class="row clear" id="title-page">
            <div class="col s12" style="margin-bottom:20px;">
                <div class="col s12 m3 l2" style="margin-bottom:20px;">
                    <a class="waves-effect grey darken-1 btn z-depth-0 col s12" ng-click="voltar()" style="margin-top:5px;"><i class="material-icons left">chevron_left</i>Voltar</a>
                </div>
                <nav class="col s12 m9 l10 z-depth-0 grey lighten-4 nav-bread">
                    <div class="nav-wrapper">
                        <div class="col s12">
                            <a class="breadcrumb">Dashboard</a>
                            <a class="breadcrumb">Lista de Alunos</a>
                            <a class="breadcrumb">Gerenciar Aluno</a>
                        </div>
                    </div>
                </nav>
            </div>
            <h2 class="titulo-desk center" id="nome-pagina">Gerenciar Aluno</h2>
        </div>

        <p class="center">Nome do Aluno</p>
    </div>
    <div class="container-fluid" ng-controller="aluno">
        <div class="row">
            <div class="col s12 m12 l12">
                <div class="col s12 m6 l4">
                    <a class="btn-ex" ng-click="alterar()">
                        <div class="botao-exercicio"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar Aluno</div>
                    </a>
                </div>
                <div class="col s12 m6 l4">
                    <a class="btn-ex" ng-click="fichaExercicio()">
                        <div class="botao-exercicio"><i class="material-icons tiny">fitness_center</i> Treinos</div>
                    </a>
                </div>
                <div class="col s12 m6 l4">
                    <a class="btn-ex" ng-click="anamnese()">
                        <div class="botao-exercicio"><i class="fa fa-heartbeat" aria-hidden="true"></i> Anamnese</div>
                    </a>
                </div>
                <div class="col s12 m6 l4">
                    <a class="btn-ex" ng-click="imcAluno()">
                        <div class="botao-exercicio"><i class="fa fa-calculator" aria-hidden="true"></i> Calculadoras</div>
                    </a>
                </div>
                <div class="col s12 m6 l4">
                    <a class="btn-ex" ng-click="">
                        <div class="botao-exercicio"><i class="fa fa-cutlery" aria-hidden="true"></i> Nutrição</div>
                    </a>
                </div>
                <div class="col s12 m6 l4">
                    <a class="btn-ex" ng-click="evolucao()">
                        <div class="botao-exercicio"><i class="fa fa-bar-chart" aria-hidden="true"></i> Evolução</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="margin-bottom:100px;"></div>