<div class="container-fluid loud" style="margin-top: 30px;">
    <div class="container">
        <div class="row">
            <div class="col s12 m12 l12">
                <div class="col s12 m6 l4">
                    <p class="center">Aluno já possui Cadastro?</p>
                    <a class="btn-ex" ng-click="">
                        <div class="botao-exercicio">Buscar Aluno</div>
                    </a>
                </div>

                <div class="col s12 m6 l4">
                    <p class="center">Aluno não possui Cadastro?</p>
                    <a class="btn-ex" ng-click="">
                        <div class="botao-exercicio">Cadastrar Aluno</div>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>