<script>
    $(document).ready(function() {
        var tituloPagina = $("#nome-pagina").text();
        $("#titulo-mobile").text(tituloPagina);
    });
</script>
<div class="container-fluid" style="margin-top:10px;" ng-controller="aluno">
    <div class="row clear">
        <div class="row clear" id="title-page">
    <div class="col s12" style="margin-bottom:20px;">
        <div class="col s12 m3 l2" style="margin-bottom:20px;">
            <a class="waves-effect grey darken-1 btn z-depth-0 col s12" ng-click="voltar()" style="margin-top:5px;"><i class="material-icons left">chevron_left</i>Voltar</a>
        </div>
        <nav class="col s12 m9 l10 z-depth-0 grey lighten-4 nav-bread">
            <div class="nav-wrapper">
                <div class="col s12">
                    <a class="breadcrumb">Dashboard</a>
                    <a class="breadcrumb">Lista de Alunos</a>
                </div>
            </div>
        </nav>
    </div>
    <h2 class="titulo-desk center" id="nome-pagina">Lista de Alunos</h2>
</div>
        <div class="row">
            <div class="col s12 m7 l7">
                <div class="right" style="margin-top: 12px; margin-bottom: 10px;">
                    <a class="waves-effect waves-light btn green z-depth-0" ng-click="vincula()" aria-label="cdtAluno">

                        <i class="material-icons">add</i>
                    </a>
                </div>
            </div>
            <div class="col s12 m5 l5">
                <nav class="buscar">
                    <form>
                        <div class="input-field">
                            <input id="search" ng-model="search" type="search" required>
                            <label for="search"><i class="material-icons">search</i>
                            </label>
                            <i class="material-icons">closed</i>
                        </div>
                    </form>
                </nav>
            </div>
        </div>
    </div>

    <div class="row clear" style="padding:10px 5px;">
        <div class="tabela">
            <table>
                <thead>
                    <tr>
                        <th data-field="selectAluno">
                            <input type="checkbox" ng-model="model.allItemsSelected" ng-change="selectAll()">
                        </th>
                        <th data-field="nomeAluno">ID</th>
                        <th data-field="nomeAluno">Nome</th>
                        <th data-field="funcoesAluno"></th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="x in lista | orderBy: 'nome' | filter:search" ng-click="select(x.id)" ng-class="{'selected':x.id == selectedRow}">
                        <td>
                            <input type="checkbox" ng-model="entity.isChecked" ng-change="selectEntity()">
                        </td>
                        <td>{{x.id}}</td>
                        <td>{{x.nome}}</td>
                        <td style="width:80px;">
                            <a class="waves-effect teal btn z-depth-0" ng-click="funcoesAluno()" title="Lista de Exercicios" aria-label="cdtAluno">
                                <i class="fa fa-cog" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <ul class="pagination">
                <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a>
                </li>
                <li class="active teal"><a href="#!">1</a>
                </li>
                <li class="waves-effect"><a href="#!">2</a>
                </li>
                <li class="waves-effect"><a href="#!">3</a>
                </li>
                <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a>
                </li>
            </ul>
        </div>
        <div style="margin-bottom: 40px;"></div>
    </div>
</div>