<div class="container-fluid" style="margin-top: 20px;">
    <div class="row">

        <div class="row" id="title-page">
            <h2 class="titulo-desk center" id="nome-pagina">Liberar Treino</h2>
        </div>

        <p class="center">Procure o instrutor X para liberar seu treino.</p>
    </div>
    <div class="container">
        <div class="row">
            <script>
                $(document).ready(function() {
                    $('#reader').html5_qrcode(function(data) {
                            $('#read').attr("href", data);
                            $('#read').html("<i class='material-icons left'>check</i>Liberado")
                            $('#read').attr("class", "waves-effect waves-light btn")
                        },
                        function(error) {
                            $('#read_error').html(error);
                        },
                        function(videoError) {
                            $('#vid_error').html(videoError);
                        }
                    );
                });
            </script>

            <div class="container center">
                <div class="center" id="reader" style="width:100%;height:250px;"></div>
                <br>
                <a id="read" class="z-depth-0 waves-effect waves-light btn grey lighten-1"><i class="material-icons left">report_problem</i>Não Liberado</a>
                <br>
            </div>
        </div>
    </div>
</div>