<div class="container-fluid" style="margin-top: 20px;" ng-controller="usuario">
    <div class="row">
    <div class="row clear" id="title-page">
            <div class="col s12" style="margin-bottom:20px;">
                <div class="col s12 m3 l2" style="margin-bottom:20px;">
                    <a class="waves-effect grey darken-1 btn z-depth-0 col s12" ng-click="voltar()" style="margin-top:5px;"><i class="material-icons left">chevron_left</i>Voltar</a>
                </div>
                <nav class="col s12 m9 l10 z-depth-0 grey lighten-4 nav-bread">
                    <div class="nav-wrapper">
                        <div class="col s12">
                            <a class="breadcrumb">Dashboard</a>
                            <a class="breadcrumb">Treinos</a>
                            <a class="breadcrumb">Fichas</a>
                            <a class="breadcrumb">Ficha Segunda-Feira</a>
                        </div>
                    </div>
                </nav>
            </div>
            <h2 class="titulo-desk center" id="nome-pagina">Ficha: Segunda-Feira</h2>
        </div>

        <div class="row bloco-info">
            <h2 class="col s12 m8 l8 ver-fichas"><strong>Treino:</strong> Deixar de ser frango 1º mês</h2>
            <h2 class="col s12 m4 l4 ver-fichas"><strong>Validade:</strong> 18/06/2016</h2>
            <h2 class="col s12 m8 l8 ver-fichas"><strong>Instrutor:</strong> Mauricio Guedes Antunes de Amaral</h2>
            <h2 class="col s12 m4 l4 ver-fichas"><strong>Objetivo:</strong> Ficar Monstro</h2>
        </div>
    </div>
    <div class="container-fluid" ng-repeat="x in exerciciosAfiltrar()| filter:filtroGrupo">

        <div class="row clear ">
            <div class="col s12">
                <h2 class="ver-grupo left"> {{x.grupo}} </h2>
            </div>
            <div class="col s12 exercicios-fichinha" ng-repeat="x in verExercicios |filter:{grupo: x.grupo}">
                <div id="exercicio1" class="exercicios-ficha ">
                    <div class="col s2 m2 l1 right ">
                        <input type="checkbox" class="filled-in checkboxPreenchido" ng-model="riscar" id={{x.id}} />
                        <label class="checkCorrigido " for={{x.id}}></label>
                    </div>
                    <div class="col s10 m10 l10 left" ng-class="{markedAsDone: riscar }">
                        <h2>{{x.exercicio}}</h2>
                        <span>Série: {{x.serie}} | Rep: {{x.repeticao}} | Peso: {{x.peso}}</span>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>

    </div>
    <!--fecha fluid-->
</div>