<div class="container-fluid" style="margin-top: 20px;" ng-controller="usuario">
    <div class="row clear" id="title-page">
            <div class="col s12" style="margin-bottom:20px;">
                <div class="col s12 m3 l2" style="margin-bottom:20px;">
                    <a class="waves-effect grey darken-1 btn z-depth-0 col s12" ng-click="voltar()" style="margin-top:5px;"><i class="material-icons left">chevron_left</i>Voltar</a>
                </div>
                <nav class="col s12 m9 l10 z-depth-0 grey lighten-4 nav-bread">
                    <div class="nav-wrapper">
                        <div class="col s12">
                            <a class="breadcrumb">Dashboard</a>
                            <a class="breadcrumb">Meus treinos</a>
                        </div>
                    </div>
                </nav>
            </div>
            <h2 class="titulo-desk center" id="nome-pagina">Meus treinos</h2>
        </div>
    <div class="container-fluid">
        <div class="row">
            <table style="background:#f5f5f5;">
                <thead>
                    <tr>
                        <th data-field="statusFicha" class="center"></th>
                        <th data-field="nomeFicha">Treino</th>
                        <th data-field="nomeFicha" class="center">Fichas</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="x in verTreinos" ng-click="select(x.id)" ng-class="{'selected':x.id == selectedRow}">
                        <td class="center" style="width:50px;">
                            <i class={{x.status}}>check_circle</i>
                        </td>
                        <td class="black-text">{{x.nome}} </td>
                        <td style="width:50px;" class="center">
                            <a class="waves-effect teal btn-ficha z-depth-0" ng-click="verFicha()" title="Ver Treinos">
                                <i class="material-icons" aria-hidden="true">list</i>
                            </a>
                        </td>

                    </tr>
                </tbody>
            </table>

            <div class="row" style="padding:30px 0;">
                <span class="col s12 m12 l3" style="opacity:0.6;">Legenda: </span>
                <span class="col s12 m3 l2 color-legenda"><i class="tiny material-icons  center green-text">check_circle</i> Ativo</span>
                <span class="col s12 m3 l2 color-legenda"><i class="tiny material-icons  center grey-text">check_circle</i> Inativo</span>
                <span class="col s12 m3 l2 color-legenda"><i class="tiny material-icons  center orange-text">check_circle</i> Vencendo</span>
                <span class="col s12 m3 l2 color-legenda"><i class="tiny material-icons  center red-text">check_circle</i> Vencido</span>
            </div>


        </div>

    </div>
    <!--fecha fluid-->
</div>