<div class="container-fluid" style="margin-top: 10px;">
    <div class="row clear" id="title-page">
        <div class="col s12" style="margin-bottom:20px;">
            <div class="col s12 m3 l2" style="margin-bottom:20px;">
                <a class="waves-effect grey darken-1 btn z-depth-0 col s12" ng-click="voltar()" style="margin-top:5px;"><i class="material-icons left">chevron_left</i>Voltar</a>
            </div>
            <nav class="col s12 m9 l10 z-depth-0 grey lighten-4 nav-bread">
                <div class="nav-wrapper">
                    <div class="col s12">
                        <a class="breadcrumb">Dashboard</a>
                        <a class="breadcrumb">Lista de Alunos</a>
                        <a class="breadcrumb">Vincular Aluno</a>
                    </div>
                </div>
            </nav>
        </div>
        <h2 class="titulo-desk center" id="nome-pagina">Vincular Aluno</h2>
    </div>
    <div class="row">
        <div class="col s12 m6 l6">
            <div class="center" style="margin-bottom: 10px; margin-top: 43px"><b>O aluno já possui cadastro</b>
            </div>
            <div class="input-field col s12 m12 l12">
                <input id="nome" name="nome" ng-value="aluno.nome" type="text" class="validate" required>
                <label for="nome">Nome do Aluno</label>
                <div ng-messages="cadastro.nome.$error">
                    <div ng-message="required">Preencha este campo.</div>
                </div>
            </div>
            <div class="col s12 m12 l12">
                <a class="btn-ex waves-effect waves-light botao-exercicio right" ng-click="buscar()">Buscar aluno</a>
            </div>
            <div>
                <table class="striped">
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Email</th>

                    <tr>
                        <td>Nome 1</td>
                        <td>CPF 1</td>
                        <td>Email 1</td>
                    </tr>
                    <tr>
                        <td>Nome 2</td>
                        <td>CPF 2</td>
                        <td>Email 2</td>
                    </tr>
                    <tr>
                        <td>Nome 3</td>
                        <td>CPF 3</td>
                        <td>Email 3</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col s12 m6 l6" style="margin-top: 43px;">

            <div class="row">
                <div class="col s12 m12 l12">
                    <div class="center" style="margin-bottom: 10px;"><b>O aluno não possui cadastro</b>
                    </div>
                    <form>
                        <div class="input-field col s12 m12 l9">
                            <input id="nome" name="nome" ng-model="aluno.nome" ng-value="aluno.nome" type="text" class="validate" required>
                            <label for="nome">Nome do Aluno</label>
                            <div ng-messages="cadastro.nome.$error">
                                <div ng-message="required">Preencha este campo.</div>
                            </div>
                        </div>
                        <div class="input-field col s12 m12 l3">
                            <input id="nascimento" name="nascimento" ng-model="aluno.nascimento" mask="31/12/2999" clean="true" type="text" class="validate" required>
                            <label for="nascimento">Nascimento</label>
                            <div ng-messages="cadastro.nascimento.$error">
                                <div ng-message="required">Preencha este campo.</div>
                            </div>
                        </div>
                        <div class="input-field col s12 m12 l8">
                            <input type="email" name="email" ng-model="aluno.email" value="aluno.email" id="email" class="validate" required>
                            <label for="email" data-error="Digite um E-mail valido" data-success="E-mail Correto">E-mail</label>
                        </div>
                        <div class="input-field col s12 m12 l4">
                            <input id="telefone" type="text" name="telefone" ng-model="aluno.telefone" mask="(999) 99999-9999" clean="true" required>
                            <label for="telefone">Telefone</label>
                            <div ng-messages="cadastro.telefone.$error">
                                <div ng-message="required">Preencha este campo.</div>
                            </div>
                        </div>
                        <div class="input-field col s12">
                            <input id="nomeInstrutor" name="nomeInstrutor" ng-model="aluno.nomeInstrutor" ng-value="aluno.nomeInstrutor" type="text" class="validate" required>
                            <label for="nomeInstrutor">Nome do Instrutor</label>
                            <div ng-messages="cadastro.nomeInstrutor.$error">
                                <div ng-message="required">Preencha este campo.</div>
                            </div>
                        </div>

                        <div class="input-field col s12 m12 l4">
                            <input id="cep" name="cep" ng-model="aluno.cep" type="text" class="validate" mask="99999-999" clean="true" required>
                            <label for="cep">CEP</label>
                            <div ng-messages="cadastro.cep.$error">
                                <div ng-message="required">Preencha este campo.</div>
                            </div>
                        </div>

                        <div class="input-field col s12 m12 l6">
                            <input id="cidade" name="cidade" ng-model="aluno.cidade" ng-value="aluno.cidade" type="text" class="validate" required>
                            <label for="cidade">Cidade</label>
                            <div ng-messages="cadastro.cidade.$error">
                                <div ng-message="required">Preencha este campo.</div>
                            </div>
                        </div>
                        <script type="text/javascript">
                            $(document).ready(function() {
                                $('select').material_select();
                            });
                        </script>
                        <div class="input-field col s12 m12 l2">
                            <div class="select-wrapper">
                                <select name="estado" class="select-dropdown" data-activates="select-options" ng-model="aluno.estado" required>
                                    <option value="" disabled="" selected="">UF</option>
                                    <option value="Acre">AC</option>
                                    <option value="Alagoas">AL</option>
                                    <option value="Amapá">AP</option>
                                    <option value="Amazonas">AM</option>
                                    <option value="Bahia">BA</option>
                                    <option value="Ceará">CE</option>
                                    <option value="Distrito Federal">DF</option>
                                    <option value="Espírito Santo">ES</option>
                                    <option value="Goiás">GO</option>
                                    <option value="Maranhão">MA</option>
                                    <option value="Mato Grosso">MT</option>
                                    <option value="Mato Grosso do Sul">MS</option>
                                    <option value="Minas Gerais">MG</option>
                                    <option value="Pará">PA</option>
                                    <option value="Paraíba">PB</option>
                                    <option value="Paraná">PR</option>
                                    <option value="Pernambuco">PE</option>
                                    <option value="Piauí">PI</option>
                                    <option value="Rio de Janeiro">RJ</option>
                                    <option value="Rio Grande do Norte">RN</option>
                                    <option value="Rio Grande do Sul">RS</option>
                                    <option value="Rondônia">RO</option>
                                    <option value="Roraima">RR</option>
                                    <option value="Santa Catarina">SC</option>
                                    <option value="São Paulo">SP</option>
                                    <option value="Sergipe">SE</option>
                                    <option value="Tocantins">TO</option>
                                </select>
                                <label>Estado</label>
                            </div>
                        </div>
                        <div class="input-field col s12 m12 l10">
                            <input id="endereco" name="endereco" ng-model="aluno.endereco" ng-value="aluno.endereco" type="text" class="validate" required>
                            <label class="" id="idEndereco" for="endereco">Endereço</label>
                            <div ng-messages="cadastro.endereco.$error">
                                <div ng-message="required">Preencha este campo.</div>
                            </div>
                        </div>

                        <div class="input-field col s12 m12 l2">
                            <input id="numeroCasa" name="numeroCasa" ng-model="aluno.numeroCasa" mask="9" repeat="5" type="text" class="validate" required>
                            <label for="numeroCasa">Número</label>
                            <div ng-messages="cadastro.numeroCasa.$error">
                                <div ng-message="required">Preencha este campo.</div>
                            </div>
                        </div>
                        <div class="col s6 m6 l3 right" style="margin-top:10px;">
                            <input type="button" ng-click="salvar()" class="col s12 waves-effect waves-light green btn" value="Salvar">
                        </div>
                    </form>
                </div>
            </div>
            <script>
                $(document).ready(function() {
                    Materialize.updateTextFields();
                });
                // Registra o evento blur do campo "cep", ou seja, quando o usuário sair do campo "cep" faremos a consulta dos dados
                $("#cep").blur(function() {
                    // Para fazer a consulta, removemos tudo o que não é número do valor informado pelo usuário
                    var cep = this.value.replace(/[^0-9]/, "");

                    // Validação do CEP; caso o CEP não possua 8 números, então cancela a consulta
                    if (cep.length != 8) {
                        return false;
                    }

                    // Utilizamos o webservice "viacep.com.br" para buscar as informações do CEP fornecido pelo usuário.
                    // A url consiste no endereço do webservice ("http://viacep.com.br/ws/"), mais o cep que o usuário
                    // informou e também o tipo de retorno que desejamos, podendo ser "xml", "piped", "querty" ou o que
                    // iremos utilizar, que é "json"
                    var url = "http://viacep.com.br/ws/" + cep + "/json/";

                    // Aqui fazemos uma requisição ajax ao webservice, tratando o retorno com try/catch para que caso ocorra algum
                    // erro (o cep pode não existir, por exemplo) o usuário não seja afetado, assim ele pode continuar preenchendo os campos
                    $.getJSON(url, function(dadosRetorno) {
                        try {
                            // Insere os dados em cada campo
                            document.getElementById("endereco").focus();
                            $("#endereco").val(dadosRetorno.logradouro);
                            document.getElementById("cidade").focus();
                            $("#cidade").val(dadosRetorno.localidade);
                            //$("#bairro").val(dadosRetorno.bairro);
                            $("#estado").prop('selected', 'true');
                            $('#estado option[value="' + dadosRetorno.uf + '"]').attribute({
                                selected: "true"
                            });

                        } catch (ex) {}
                    });
                });
            </script>
        </div>
    </div>
</div>