<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>BestWorkout</title>
    <link rel="stylesheet" type="text/css" href="css/materialize.css">
    <link rel="stylesheet" type="text/css" href="css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="css/custom.css">


</head>
<body>

<div class="container-fluid">
        <div class="row">
            <div class="col s12 m12 l12">
                <h6 style="margin-left: 15px;">Dados Pessoais</h6>
                <form>
                    <div class="input-field col s12 m12 l9">
                        <input id="nome" name="nome" type="text" class="validate" required>
                        <label for="nome">Nome do Aluno</label>
                    </div>
                    <div class="input-field col s12 m12 l3">
                        <input id="nascimento" name="nascimento" clean="true" type="text" class="validate" required>
                        <label for="nascimento">Nascimento</label>
                    </div>
                    <div class="input-field col s12 m12 l8">
                        <input type="email" name="email" id="email" class="validate" required>
                        <label for="email" data-error="Digite um E-mail valido" data-success="E-mail Correto">E-mail</label>
                    </div>
                    <div class="input-field col s12 m12 l4">
                        <input id="telefone" type="text" name="telefone" required>
                        <label for="telefone">Telefone</label>
                    </div>
                    
                    <div class="input-field col s12 m12 l4">
                        <input id="cep" name="cep" ng-model="aluno.cep" ng-value="aluno.cep" type="text" class="validate" ui-br-cep-mask required>
                        <label for="cep">CEP</label>
                    </div>

                    <div class="input-field col s12 m12 l6">
                        <input id="cidade" name="cidade" type="text" class="validate" required>
                        <label for="cidade">Cidade</label>
                    </div>
                    
                    <div class="input-field col s12 m12 l2">
                        <div class="select-wrapper">
                            <select name="estado" class="select-dropdown" data-activates="select-options" ng-model="aluno.estado" required>
                                <option value="" disabled="" selected="">UF</option>
                                <option value="Acre">AC</option>
                                <option value="Alagoas">AL</option>
                                <option value="Amapá">AP</option>
                                <option value="Amazonas">AM</option>
                                <option value="Bahia">BA</option>
                                <option value="Ceará">CE</option>
                                <option value="Distrito Federal">DF</option>
                                <option value="Espírito Santo">ES</option>
                                <option value="Goiás">GO</option>
                                <option value="Maranhão">MA</option>
                                <option value="Mato Grosso">MT</option>
                                <option value="Mato Grosso do Sul">MS</option>
                                <option value="Minas Gerais">MG</option>
                                <option value="Pará">PA</option>
                                <option value="Paraíba">PB</option>
                                <option value="Paraná">PR</option>
                                <option value="Pernambuco">PE</option>
                                <option value="Piauí">PI</option>
                                <option value="Rio de Janeiro">RJ</option>
                                <option value="Rio Grande do Norte">RN</option>
                                <option value="Rio Grande do Sul">RS</option>
                                <option value="Rondônia">RO</option>
                                <option value="Roraima">RR</option>
                                <option value="Santa Catarina">SC</option>
                                <option value="São Paulo">SP</option>
                                <option value="Sergipe">SE</option>
                                <option value="Tocantins">TO</option>
                            </select>
                            <label>Estado</label>
                        </div>
                    </div>
                    <div class="input-field col s12 m12 l10">
                        <input id="endereco" name="endereco" ng-model="aluno.endereco" ng-value="aluno.endereco" type="text" class="validate" required>
                        <label for="endereco">Endereço</label>
                    </div>

                    <div class="input-field col s12 m12 l2">
                        <input id="numeroCasa" name="numeroCasa" ng-model="aluno.numeroCasa" ng-value="aluno.numeroCasa" type="text" class="validate" required>
                        <label for="numeroCasa">Número</label>
                    </div>
                    <div class="input-field col s12 right">
                        <div class="col s6">
                            <input ng-click="salvar()" type="button" class="waves-effect waves-light green btn" value="Salvar">
                        </div>
                    </div>
                </form>
            </div>
        </div>
</div>


    <!-- Import jQuery -->
    <script src="js/resources/jquery-2.1.1.min.js"></script>
    <!-- Import Materialize -->
    <script src="js/resources/materialize.min.js"></script>
    <!-- Import Angular modules and Configurations -->
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/angular-animate.min.js"></script>
    <script src="js/angular-aria.min.js"></script>
    <script src="js/angular-messages.min.js"></script>
    <script src="js/angular-material.min.js"></script>
    <script src="js/angularApp.js"></script>
    <script src="js/usuario.js"></script>
    <script src="js/aluno.js"></script>
    <script src="js/funcoesGerais.js"></script>
    <script src="js/instrutor.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('select').material_select();
        });
    </script>
</body>
</html>