<html ng-app="teste">

<head>
    <meta charset="UTF-8">
    <title>teste</title>
    <link rel="stylesheet" type="text/css" href="css/materialize.css">
    <script src="js/angular.js"></script>
    <script src="js/angular-messages.js"></script>
    <script src="js/img-to-base64.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/resource/jquery-2.1.1.min.js"></script>
    <script>
    angular.module("teste", ["ngMessages"]);
    angular.module("teste").controller("testeCtrl", function($scope, $http) {
        $scope.contatos = [];
        //$scope.len;        

        var carregarContatos = function() {
            $http.get("http://45.55.135.113/api/empresas/?format=json").success(function(data) {
                $scope.contatos = data;
            }).error(function(data, status) {
                $scope.message = "Aconteceu um problema: " + data;

            });
        };
        
        var imagem;

        carregarContatos();        

        /*$scope.empresa = {
            /*title: "TESTE DIEGO 3",
            sub_title: "Confecções",
            description: "testando",
            phone1_ddd: "67",
            phone1: "3456-3086",
            phone2_ddd: "67",
            phone2: "999633758",
            business_hours: "07:00 as 17:00",
            address: "Av. Jofre de Araújo",
            number: "381",
            complement: "testando",
            neighborhood: "Vila Maria de Lourdes",
            zipcode: "79140-000",            
            city: "1",
            //thumbnail: imagem,
            email: "adondoquinha-confecções@gmail.com",
            map_link: "aaaaaaaa",
            featured: false,
            active: true
        }*/

        $scope.salvar = function() {
            $scope.empresa.thumbnail = thumbNewImg.src.replace("data:image/jpeg;base64,", "");
            //console.log("imagem.value: " + imagem.value);
            var empresa = $scope.empresa;
            $http.post("http://45.55.135.113/api/empresas/", empresa);
        }
    });
    </script>
</head>

<body ng-controller="testeCtrl">
    <h3>{{app}}</h3> {{message}}
    <form>    
            <div class="row container">
                <div class="col s6">
                    <input type="text" ng-model="empresa.title" class="validate" id="title">
                    
                </div>
                <div class="col s6">
                    <input type="text" ng-model="empresa.sub_title" id="sub_title">
                    
                </div>
                <div class="col s3">
                    <input type="text" ng-model="empresa.phone1_ddd" id="phone1_ddd">
                    
                </div>
                <div class="col s9">
                    <input type="text" ng-model="empresa.phone1" id="phone1">
                    <label for="phone1">Telefone</label>
                </div>
                <div class="col s12">
                    <input type="text" ng-model="empresa.business_hours" id="business_hour">
                    <label for="business_hour">Horário de funcionamento</label>
                </div>
                <div class="col s9">
                    <input type="text" ng-model="empresa.address">
                </div>
                <div class="col s3">
                    <input type="text" ng-model="empresa.number">
                </div>
                <div class="col s5">
                    <input type="text" ng-model="empresa.neighborhood">
                </div>
                <div class="col s4">
                    <input type="text" ng-model="empresa.zipcode">
                </div>
                <div class="col s3">
                    <input type="text" ng-model="empresa.city">
                </div>
                <div class="col s12">
                    <input type="text" ng-model="empresa.email">
                </div>
                <div class="col s8">
                    <input id="inputFileToLoad" type="file" onchange="encodeImageFileAsURL(inputFileToLoad);" />
                </div>
                <div class="col s4">
                   <div id="imgTest"></div>
                </div>
            </div>
            <div class="col s6">
                <input ng-click="salvar()" type="button" class="waves-effect waves-light green btn" value="Salvar">
            </div>
    </form>
    <table ng-show="contatos.length > 0" class="table table-striped">
        <tr>
            <th></th>
            <th>Academia</th>
            <th>Telefone</th>
        </tr>
        <tr ng-repeat="contato in contatos">
            <td>{{contato.title}}</td>
            <td>{{contato.phone1}}</td>
        </tr>
    </table>        
    

</body>

</html>
