<script type="text/javascript">
    $(document).ready(function() {
        // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15 // Creates a dropdown of 15 years to control year
        });
    });
</script>
<div class="container-fluid" style="margin-top:10px;" ng-controller="instrutor">
    <div class="row">

        <div class="row clear" id="title-page">
            <div class="col s12" style="margin-bottom:20px;">
                <div class="col s12 m3 l2" style="margin-bottom:20px;">
                    <a class="waves-effect grey darken-1 btn z-depth-0 col s12" ng-click="voltar()" style="margin-top:5px;"><i class="material-icons left">chevron_left</i>Voltar</a>
                </div>
                <nav class="col s12 m9 l10 z-depth-0 grey lighten-4 nav-bread">
                    <div class="nav-wrapper">
                        <div class="col s12">
                            <a class="breadcrumb">Fichas</a>
                            <a class="breadcrumb">Nova Ficha</a>
                        </div>
                    </div>
                </nav>
            </div>
            <h2 class="titulo-desk center" id="nome-pagina">Nova Ficha</h2>
        </div>

        <p class="col s12" style="margin-left: 10px; text-align: center;">Nome completo do aluno</p>

    </div>
    <!--
      <hr style="border-color:rgba(0,0,0,0.20);">
      
      
      Criar condição para que se a lista estiver vazia não exibir

      -->

    <div class="row">
        <div class="input-field col s12">
            <input placeholder="Placeholder" id="nomeFicha" type="text" class="validate">
            <label for="nomeFicha">Nome da ficha</label>
        </div>
        <div class="input-field col s6">
            <input type="text" id="dataInicial" class="datepicker">
            <label for="dataInicial">Data Inicial</label>
        </div>
        <div class="input-field col s6">
            <input type="text" id="dataFinal" class="datepicker">
            <label for="dataFinal">Data Final</label>
        </div>
    </div>
    <div class="col s6 m6 l6 right" style="margin-bottom: 25px;">
        <input type="button" ng-click="montarTreino()" class="waves-effect waves-light green btn col s12 m12 l12" value="Salvar">
    </div>
</div>
<!--fecha fluid-->

<div class="row"></div>