<div class="container-fluid" style="margin-top:10px;" ng-controller="instrutor">
    <div class="row">

        <div class="row clear" id="title-page">
            <div class="col s12" style="margin-bottom:20px;">
                <div class="col s12 m3 l2" style="margin-bottom:20px;">
                    <a class="waves-effect grey darken-1 btn z-depth-0 col s12" ng-click="voltar()" style="margin-top:5px;"><i class="material-icons left">chevron_left</i>Voltar</a>
                </div>
                <nav class="col s12 m9 l10 z-depth-0 grey lighten-4 nav-bread">
                    <div class="nav-wrapper">
                        <div class="col s12">
                            <a class="breadcrumb">Dashboard</a>
                            <a class="breadcrumb">Lista de Alunos</a>
                            <a class="breadcrumb">Gerenciar Aluno</a>
                            <a class="breadcrumb">Treinos</a>
                            <a class="breadcrumb">Descrição do Treino</a>
                        </div>
                    </div>
                </nav>
            </div>
            <h2 class="titulo-desk center" id="nome-pagina">Descrição do Treino</h2>
        </div>

        <div class="row bloco-info">
            <h2 class="col s12 m8 l8 ver-fichas"><strong>Treino:</strong> Treino vem monxtro</h2>
            <h2 class="col s12 m4 l4 ver-fichas"><strong>Validade:</strong> 18/06/2016</h2>

            <h2 class="col s12 m8 l8 ver-fichas"><strong>Aluno:</strong> José Alves Gomes</h2>
            <h2 class="col s12 m4 l4 ver-fichas"><strong>Status do Treino:</strong> <i class="material-icons green-text" style="font-size:15px;" aria-hidden="true">check_circle</i></h2>

            <h2 class="col s12 m8 l8 ver-fichas"><strong>Instrutor:</strong> Mauricio Guedes Antunes de Amaral</h2>
            <h2 class="col s12 m4 l4 ver-fichas"><strong>Objetivo:</strong> Ficar Monstro</h2>
        </div>
    </div>
    <div class="row right">
        <a class="waves-effect waves-light btn z-depth-0 ver-fichas green" ng-controller="instrutor" ng-click="criarFicha()" title="Criar Ficha" aria-label="cdtAluno">
            <i class="material-icons">add</i>
        </a>
    </div>
    <div class="row">
        <table style="background:#f5f5f5;">
            <thead>
                <tr>
                    <th data-field="statusFicha" class="center"></th>
                    <th data-field="nomeFicha">Ficha</th>
                    <th data-field="exercicios" class="center">Exercicios</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="x in verFichas" ng-click="select(x.id)" ng-class="{'selected':x.id == selectedRow}">
                    <td class="center" style="width:50px;">
                        <i class={{x.status}}>check_circle</i>
                    </td>
                    <td class="black-text">{{x.nome}} </td>
                    <td style="width:80px;" class="center">
                        <a class="waves-effect teal btn-ficha z-depth-0" ng-click="ExercicioAdd()" title="Adicionar exercícios">
                            <i class="material-icons" aria-hidden="true">list</i>
                        </a>
                    </td>

                </tr>
            </tbody>
        </table>
        </table>

        <div class="row" style="padding:40px 0;">
            <span class="col s12 m12 l3" style="opacity:0.6;">Legenda: </span>
            <span class="col s12 m3 l2 color-legenda"><i class="tiny material-icons  center green-text">check_circle</i> Ativo</span>
            <span class="col s12 m3 l2 color-legenda"><i class="tiny material-icons  center grey-text">check_circle</i> Inativo</span>
            <span class="col s12 m3 l2 color-legenda"><i class="tiny material-icons  center orange-text">check_circle</i> Vencendo</span>
            <span class="col s12 m3 l2 color-legenda"><i class="tiny material-icons  center red-text">check_circle</i> Vencido</span>
        </div>



    </div>
    <!--fecha fluid-->
</div>