<div class="container-fluid" style="margin-top:10px" ng-controller="aluno">
    <div class="row clear" id="title-page">
        <div class="col s12" style="margin-bottom:20px;">
            <div class="col s12 m3 l2" style="margin-bottom:20px;">
                <a class="waves-effect grey darken-1 btn z-depth-0 col s12" ng-click="voltar()" style="margin-top:5px;"><i class="material-icons left">chevron_left</i>Voltar</a>
            </div>
            <nav class="col s12 m9 l10 z-depth-0 grey lighten-4 nav-bread">
                <div class="nav-wrapper">
                    <div class="col s12">
                        <a class="breadcrumb">Ficha</a>
                        <a class="breadcrumb">Exercícios</a>
                    </div>
                </div>
            </nav>
        </div>
        <h2 class="titulo-desk center" id="nome-pagina">Exercícios</h2>
        <br>
    </div>
    <div class="row clear">
        <div class="col s12 m6 l3">
            <a class="btn-ex modal-trigger" ng-click="exerciciosCoxasPernas()">
                <div class="botao-exercicio">Coxas / Pernas</div>
            </a>
        </div>
        <div class="col s12 m6 l3">
            <a class="btn-ex modal-trigger" ng-click="exerciciosBiceps()">
                <div class="botao-exercicio">Biceps</div>
            </a>
        </div>
        <div class="col s12 m6 l3">
            <a class="btn-ex modal-trigger" ng-click="exerciciosPeitorais()">
                <div class="botao-exercicio">Peitorais</div>
            </a>
        </div>
        <div class="col s12 m6 l3">
            <a class="btn-ex modal-trigger" ng-click="exerciciosDeltoide()">
                <div class="botao-exercicio">Deltoide</div>
            </a>
        </div>
    </div>
    <div class="row clearM">
        <div class="col s12 m6 l3">
            <a class="btn-ex modal-trigger" ng-click="exerciciosTriceps()">
                <div class="botao-exercicio">Triceps</div>
            </a>
        </div>
        <div class="col s12 m6 l3">
            <a class="btn-ex modal-trigger" ng-click="exerciciosDorsais()">
                <div class="botao-exercicio">Dorsais</div>
            </a>
        </div>
        <div class="col s12 m6 l3">
            <a class="btn-ex modal-trigger" ng-click="exerciciosGluteo()">
                <div class="botao-exercicio">Glúteos</div>
            </a>
        </div>
        <div class="col s12 m6 l3">
            <a class="btn-ex modal-trigger" ng-click="exerciciosAbdominais()">
                <div class="botao-exercicio">Abdominais</div>
            </a>
        </div>
        <div class="col s12 m6 l3">
            <a class="btn-ex modal-trigger" ng-click="exerciciosAerobicos()">
                <div class="botao-exercicio">Aeróbicos</div>
            </a>
        </div>
    </div>