<div class="container-fluid" style="margin-top: 20px;">
<div class="row clear" id="title-page" >
                <div class="col s12" style="margin-bottom:20px;">
                    <div class="col s12 m3 l2" style="margin-bottom:20px;">
                        <a class="waves-effect grey darken-1 btn z-depth-0 col s12" ng-click="voltar()" style="margin-top:5px;"><i class="material-icons left">chevron_left</i>Voltar</a>
                    </div>
                    <nav class="col s12 m9 l10 z-depth-0 grey lighten-4 nav-bread">
                        <div class="nav-wrapper">
                            <div class="col s12">
                                <a class="breadcrumb">Dashboard</a>
                                <a class="breadcrumb">Cadastrar Instrutores</a>
                            </div>
                        </div>
                    </nav>
                </div>
                <h2 class="titulo-desk center" id="nome-pagina">Cadastrar instrutor:</h2>
            </div>
</div>
<div class="container" ng-controller="instrutor">
    
    <div class="row">
        <form class="col s12">
            <div class="input-field col s12 m12 l9">
                <input id="nome" name="nome" ng-model="instrutor.nome" ng-value="instrutor.nome" type="text" class="validate" required>
                <label for="nome">Nome do instrutor</label>
                <div ng-messages="cadastro.nome.$error">
                    <div ng-message="required">Preencha este campo.</div>
                </div>
            </div>

            <div class="input-field col s12 m12 l3">
                <input id="nascimento" name="nascimento" ng-model="instrutor.nascimento" ng-value="instrutor.nascimento" type="text" class="validate" required>
                <label for="nascimento">Nascimento</label>
                <div ng-messages="cadastro.nascimento.$error">
                    <div ng-message="required">Preencha este campo.</div>
                </div>
            </div>

            <div class="input-field col s12 m12 l8">
                <input type="email" name="email" ng-model="instrutor.email" value="instrutor.email" id="email" class="validate" required>
                <label for="email" data-error="Digite um E-mail valido" data-success="E-mail Correto">E-mail</label>
            </div>

            <div class="input-field col s12 m12 l4">
                <input id="telefone" type="text" name="telefone" ng-model="instrutor.telefone" ui-mask="(999) 9999-9999" ui-mask-placeholder ui-mask-placeholder-char="_" value="instrutor.telefone" required>
                <label for="telefone">Telefone</label>
                <div ng-messages="cadastro.telefone.$error">
                    <div ng-message="required">Preencha este campo.</div>
                </div>
            </div>

            <div class="input-field col s12 m12 l4">
                <input id="cep" name="cep" ng-model="instrutor.cep" ng-value="instrutor.cep" type="text" class="validate" ui-br-cep-mask required>
                <label for="cep">CEP</label>
                <div ng-messages="cadastro.cep.$error">
                    <div ng-message="required">Preencha este campo.</div>
                </div>
            </div>

            <div class="input-field col s12 m12 l6">
                <input id="cidade" name="cidade" ng-model="instrutor.cidade" ng-value="instrutor.cidade" type="text" class="validate" required>
                <label for="cidade">Cidade</label>
                <div ng-messages="cadastro.cidade.$error">
                    <div ng-message="required">Preencha este campo.</div>
                </div>
            </div>

            <div class="input-field col s12 m12 l2">
                <div class="select-wrapper">
                    <select name="estado" class="select-dropdown" data-activates="select-options" ng-model="instrutor.estado" value="instrutor.estado" required>
                        <option disabled="" selected="">Estado</option>
                        <option value="Acre">AC</option>
                        <option value="Alagoas">AL</option>
                        <option value="Amapá">AP</option>
                        <option value="Amazonas">AM</option>
                        <option value="Bahia">BA</option>
                        <option value="Ceará">CE</option>
                        <option value="Dstrito Federal">DF</option>
                        <option value="Espírito Santo">ES</option>
                        <option value="Goiás">GO</option>
                        <option value="Maranhão">MA</option>
                        <option value="Mato Grosso">MT</option>
                        <option value="Mato Grosso do Sul">MS</option>
                        <option value="Minas Gerais">MG</option>
                        <option value="Pará">PA</option>
                        <option value="Paraíba">PB</option>
                        <option value="Paraná">PR</option>
                        <option value="Pernambuco">PE</option>
                        <option value="Piauí">PI</option>
                        <option value="Rio de Janeiro">RJ</option>
                        <option value="Rio Grande do Norte">RN</option>
                        <option value="Rio Grande do Sul">RS</option>
                        <option value="Rondônia">RO</option>
                        <option value="Roraima">RR</option>
                        <option value="Santa Catarina">SC</option>
                        <option value="São Paulo">SP</option>
                        <option value="Sergipe">SE</option>
                        <option value="Tocantins">TO</option>
                    </select>
                </div>
            </div>

            <div class="input-field col s12 m12 l10">
                <input id="endereco" name="endereco" ng-model="instrutor.endereco" ng-value="instrutor.endereco" type="text" class="active validate" required>
                <label for="endereco">Endereço</label>
                <div ng-messages="cadastro.endereco.$error">
                    <div ng-message="required">Preencha este campo.</div>
                </div>
            </div>

            <div class="input-field col s12 m12 l2">
                <input id="numeroCasa" name="numeroCasa" ng-model="instrutor.numeroCasa" ng-value="instrutor.numeroCasa" type="text" class="validate" required>
                <label for="numeroCasa">Número</label>
                <div ng-messages="cadastro.numeroCasa.$error">
                    <div ng-message="required">Preencha este campo.</div>
                </div>
            </div>

            <script type="text/javascript">
                $(document).ready(function() {
                    $('select').material_select();
                });
            </script>


            <div class="row">
                <div class="col s12 m6 l4 right">
                    <div align="right">
                        <input type="button" ng-click="salvar()" class="waves-effect waves-light green btn" value="Salvar">
                    </div>
                </div>
            </div>

        </form>

    </div>