<div>
    <style type="text/css">
        .selected {
            background-color: #ccc;
        }
    </style>


    <div class="container-fluid" style="margin-top: 20px;" ng-controller="instrutor">

        <div class="row clear">
            <div class="row clear" id="title-page">
                <div class="col s12" style="margin-bottom:20px;">
                    <div class="col s12 m3 l2" style="margin-bottom:20px;">
                        <a class="waves-effect grey darken-1 btn z-depth-0 col s12" ng-click="voltar()" style="margin-top:5px;"><i class="material-icons left">chevron_left</i>Voltar</a>
                    </div>
                    <nav class="col s12 m9 l10 z-depth-0 grey lighten-4 nav-bread">
                        <div class="nav-wrapper">
                            <div class="col s12">
                                <a class="breadcrumb">Dashboard</a>
                                <a class="breadcrumb">Lista de Instrutores</a>
                            </div>
                        </div>
                    </nav>
                </div>
                <h2 class="titulo-desk center" id="nome-pagina">Lista de Instrutores</h2>
            </div>

            <div class="row">
                <div class="col s12 m7 l7">
                    <div class="right" style="margin-top: 12px; margin-bottom: 10px;">
                        <a class="waves-effect waves-light btn z-depth-0" ng-click="cadastraInstrutor()" aria-label="cdtAluno">
                            <i class="material-icons">add</i>
                        </a>
                        <a class="waves-effect waves-light btn z-depth-0" ng-click="alterarCadastroInstrutor()" aria-label="cdtAluno">
                            <i class="material-icons">edit</i>
                        </a>
                        <a class="waves-effect waves-light btn z-depth-0" ng-click="deletaInstrutor()" aria-label="cdtAluno">
                            <i class="material-icons">delete</i>
                        </a>
                    </div>
                </div>
                <div class="col s12 m5 l5">
                    <nav class="buscar">
                        <form>
                            <div class="input-field">
                                <input id="search" type="search" ng-model="search" required>
                                <label for="search"><i class="material-icons">search</i>
                                </label>
                                <i class="material-icons">closed</i>
                            </div>
                        </form>
                    </nav>
                </div>
            </div>
        </div>


        <div class="row clear" style="background-color:#f5f5f5; padding:10px 5px;">
            <div class="tabela">
                <table>
                    <thead>
                        <tr>
                            <th data-field="selectAluno">
                                <input type="checkbox" ng-model="model.allItemsSelected" ng-change="selectAll()">
                            </th>
                            <th data-field="nomeAluno">ID</th>
                            <th data-field="nomeAluno">Nome</th>
                            <th data-field="funcoesAluno"></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="x in listaInstrutor | orderBy: 'nome' | filter:search" ng-click="select(x.id)" ng-class="{'selected':x.id == selectedRow}">
                            <td>
                                <input type="checkbox" ng-model="entity.isChecked" ng-change="selectEntity()">
                            </td>
                            <td>{{x.id}}</td>
                            <td>{{x.nome}}</td>
                            <td>
                                Clique aqui
                            </td>
                        </tr>
                    </tbody>
                </table>
                <ul class="pagination">
                    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a>
                    </li>
                    <li class="active blue"><a href="#!">1</a>
                    </li>
                    <li class="waves-effect"><a href="#!">2</a>
                    </li>
                    <li class="waves-effect"><a href="#!">3</a>
                    </li>
                    <li class="waves-effect"><a href="#!">4</a>
                    </li>
                    <li class="waves-effect"><a href="#!">5</a>
                    </li>
                    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a>
                    </li>
                </ul>
            </div>
        </div>

    </div>