<div class="container-fluid" style="margin-top:10px">
    <div class="row clear" id="title-page">
        <div class="col s12" style="margin-bottom:20px;">
            <div class="col s12 m3 l2" style="margin-bottom:20px;">
                <a class="waves-effect grey darken-1 btn z-depth-0 col s12" ng-click="voltar()" style="margin-top:5px;"><i class="material-icons left">chevron_left</i>Voltar</a>
            </div>
            <nav class="col s12 m9 l10 z-depth-0 grey lighten-4 nav-bread">
                <div class="nav-wrapper">
                    <div class="col s12">
                        <a class="breadcrumb">Ficha</a>
                        <a class="breadcrumb">Exercícios</a>
                        <a class="breadcrumb">Glúteos</a>
                    </div>
                </div>
            </nav>
        </div>
        <h2 class="titulo-desk center" id="nome-pagina">Glúteos</h2>
        <br>
    </div>
</div>

<div class="container" ng-controller="instrutor">
    <div class="row">

        <div class="col s12 m5 l5 right">
            <nav class="buscar">
                <form>
                    <div class="input-field">
                        <input id="search" ng-model="search" type="search" required>
                        <label for="search"><i class="material-icons">search</i>
                        </label>
                        <i class="material-icons">closed</i>
                    </div>
                </form>
            </nav>
        </div>
    </div>
    <div class="row" ng-repeat="x in gluteoList | orderBy: 'nome' | filter:search">
        <div class="escolhaEx grey">
            <input type="checkbox" id={{x.id}} ng-model="show">
            <label class="escolhaEx" for={{x.id}}>{{x.id}}</label>
        </div>
        <div style="padding-top: 0px; margin-top: 0px; padding-bottom: 0px; margin-bottom: 0px;" ng-show="show">
            <div class="input-field col s4">
                <input id={{x.serie}} value="0" type="number" class="validate">
                <label class="active" for={{x.serie}}>Série</label>
            </div>
            <div class="input-field col s4">
                <input id={{x.rep}} value="0" type="number" class="validate">
                <label class="active" for={{x.rep}}>Repetição</label>
            </div>
            <div class="input-field col s4">
                <input id={{x.peso}} value="0" type="number" class="validate">
                <label class="active" for={{x.peso}}>Peso</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6 l4 right">
            <div class="col s6 m6 l6 right">
                <input type="button" ng-click="ExercicioAdd()" class="waves-effect waves-light green btn right" value="Salvar">
            </div>
        </div>
    </div>
</div>