<script type="text/javascript">
    $(document).ready(function() {
        // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
        $('.modal-trigger').leanModal();

    });
</script>

<div class="container-fluid" style="margin-top: 10px;">
    <div class="row clear" id="title-page">
        <div class="col s12" style="margin-bottom:20px;">
            <div class="col s12 m3 l2" style="margin-bottom:20px;">
                <a class="waves-effect grey darken-1 btn z-depth-0 col s12" ng-click="voltar()" style="margin-top:5px;"><i class="material-icons left">chevron_left</i>Voltar</a>
            </div>
            <nav class="col s12 m9 l10 z-depth-0 grey lighten-4 nav-bread">
                <div class="nav-wrapper">
                    <div class="col s12">
                        <a class="breadcrumb">Dashboard</a>
                        <a class="breadcrumb">Lista de Alunos</a>
                        <a class="breadcrumb">Gerenciar Aluno</a>
                        <a class="breadcrumb">Anamnese</a>
                        <a class="breadcrumb">Circunferencias</a>
                    </div>
                </div>
            </nav>
        </div>
        <h2 class="titulo-desk center" id="nome-pagina">Circunferencias (cm)</h2>
    </div>

    <div class="clear"></div>
    <div class="row">
        <div class="col s12 m4 l4">
            <div id="circunferencia">
                <div id="blocos-circ">
                </div>
            </div>
        </div>
        <div class="col s12 m8 ">
            <h2 class="left ver-grupo">Locais</h2>
        </div>


        <div class="col s12 m4 l4">
            <table>
                <tbody>
                    <tr>
                        <td>Braço Direito</td>
                        <td>
                            <div class="input-field col s12 m8 l6">
                                <input id="brDir" value="0" type="number" class="validate">
                                <label class="active" for="brDir">Valor</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Braço Esquerdo</td>
                        <td>
                            <div class="input-field col s12 m8 l6">
                                <input id="brEsq" value="0" type="number" class="validate">
                                <label class="active" for="brEsq">Valor</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Torax</td>
                        <td>
                            <div class="input-field col s12 m8 l6">
                                <input id="torax" value="0" type="number" class="validate">
                                <label class="active" for="torax">Valor</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Cintura</td>
                        <td>
                            <div class="input-field col s12 m8 l6">
                                <input id="cintura" value="0" type="number" class="validate">
                                <label class="active" for="cintura">Valor</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Coxa Direita</td>
                        <td>
                            <div class="input-field col s12 m8 l6">
                                <input id="cxDir" value="0" type="number" class="validate">
                                <label class="active" for="cxDir">Valor</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Panturrilha Direita</td>
                        <td>
                            <div class="input-field col s12 m8 l6">
                                <input id="pantDir" value="0" type="number" class="validate">
                                <label class="active" for="pantDir">Valor</label>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col s12 m4 l4">
            <table>
                <tbody>
                    <tr>
                        <td>Antebraço Direito</td>
                        <td>
                            <div class="input-field col s12 m8 l6">
                                <input id="antBrDir" value="0" type="number" class="validate">
                                <label class="active" for="antBrDir">Valor</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Antebraço Esquerdo</td>
                        <td>
                            <div class="input-field col s12 m8 l6">
                                <input id="antBrEsq" value="0" type="number" class="validate">
                                <label class="active" for="antBrEsq">Valor</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Abdômen</td>
                        <td>
                            <div class="input-field col s12 m8 l6">
                                <input id="abdomen" value="0" type="number" class="validate">
                                <label class="active" for="abdomen">Valor</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Quadril</td>
                        <td>
                            <div class="input-field col s12 m8 l6">
                                <input id="quadril" value="0" type="number" class="validate">
                                <label class="active" for="quadril">Valor</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Coxa Esquerda</td>
                        <td>
                            <div class="input-field col s12 m8 l6">
                                <input id="cxEsq" value="0" type="number" class="validate">
                                <label class="active" for="cxEsq">Valor</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Panturrilha Esquerda</td>
                        <td>
                            <div class="input-field col s12 m8 l6">
                                <input id="pantEsq" value="0" type="number" class="validate">
                                <label class="active" for="pantEsq">Valor</label>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col s6 m6 l6 right">
                    <input type="button" ng-click="salvar()" class="waves-effect waves-light green btn" value="Salvar">
                </div>
            </div>
        </div>

    </div>

    <div class="row"></div>

</div>