<script type="text/javascript">
    $(document).ready(function() {
        // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
        $('.modal-trigger').leanModal();

    });
    $(document).ready(function() {
        $('ul.tabs').tabs();
    });
</script>
<div class="container-fluid" style="margin-top: 10px;">
    <div class="row">
        <div class="row clear" id="title-page">
            <div class="col s12" style="margin-bottom:20px;">
                <div class="col s12 m3 l2" style="margin-bottom:20px;">
                    <a class="waves-effect grey darken-1 btn z-depth-0 col s12" ng-click="voltar()" style="margin-top:5px;"><i class="material-icons left">chevron_left</i>Voltar</a>
                </div>
                <nav class="col s12 m9 l10 z-depth-0 grey lighten-4 nav-bread">
                    <div class="nav-wrapper">
                        <div class="col s12">
                            <a class="breadcrumb">Dashboard</a>
                            <a class="breadcrumb">Lista de Alunos</a>
                            <a class="breadcrumb">Gerenciar Aluno</a>
                            <a class="breadcrumb">Anamnese</a>
                            <a class="breadcrumb">Dobras Cutâneas</a>
                        </div>
                    </div>
                </nav>
            </div>
            <h2 class="titulo-desk center" id="nome-pagina" style="padding-bottom:25px;">Dobras Cutâneas</h2>
        </div>
        <div class="container">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s3"><a class="active" href="#tab1">3 dobras</a>
                    </li>
                    <li class="tab col s3"><a href="#tab2">7 dobras</a>
                    </li>
                </ul>
            </div>
            <!-- 3 DOBRAS -->

            <div id="tab1" class="col s12" style="padding-top:25px;">
                <div class="col s12 m6 l5">
                    <img src="imagens/corpo.jpg" class="responsive-img center">
                </div>
                <div class="col s12 m6 l7">
                    <table>
                        <tbody>
                            <tr>
                                <td>Triceps</td>
                                <td>
                                    <div class="input-field col s12 m8 l6">
                                        <input id="triceps" value="0" type="number" class="validate">
                                        <label class="active" for="triceps">Valor</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Supra-ilíaca</td>
                                <td>
                                    <div class="input-field col s12 m8 l6">
                                        <input id="suprailiaca" value="0" type="number" class="validate">
                                        <label class="active" for="suprailiaca">Valor</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Coxa</td>
                                <td>
                                    <div class="input-field col s12 m8 l6">
                                        <input id="coxa" value="0" type="number" class="validate">
                                        <label class="active" for="coxa">Valor</label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col s6 m6 l8 right" style="padding:0 0;">
                            <input type="button" ng-click="salvar()" class="waves-effect waves-light green btn" value="Salvar">
                        </div>
                    </div>
                </div>
            </div>

            <!-- 7 DOBRAS -->
            <div id="tab2" class="col s12" style="padding-top:25px;">
                <div class="col s12 m6 l5">
                    <img src="imagens/corpo.jpg" class="responsive-img center">
                </div>
                <div class="col s12 m6 l7">
                    <table>
                        <tbody>
                            <tr>
                                <td>Biceps</td>
                                <td>
                                    <div class="input-field col s12 m8 l6">
                                        <input id="biceps" value="0" type="number" class="validate">
                                        <label class="active" for="biceps">Valor</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Triceps</td>
                                <td>
                                    <div class="input-field col s12 m8 l6">
                                        <input id="triceps" value="0" type="number" class="validate">
                                        <label class="active" for="triceps">Valor</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Subescapular</td>
                                <td>
                                    <div class="input-field col s12 m8 l6">
                                        <input id="subescapular" value="0" type="number" class="validate">
                                        <label class="active" for="subescapular">Valor</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Peitoral</td>
                                <td>
                                    <div class="input-field col s12 m8 l6">
                                        <input id="peitoral" value="0" type="number" class="validate">
                                        <label class="active" for="peitoral">Valor</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Abdomen</td>
                                <td>
                                    <div class="input-field col s12 m8 l6">
                                        <input id="abdomen" value="0" type="number" class="validate">
                                        <label class="active" for="abdomen">Valor</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Supra-ilíaca</td>
                                <td>
                                    <div class="input-field col s12 m8 l6">
                                        <input id="suprailiaca" value="0" type="number" class="validate">
                                        <label class="active" for="suprailiaca">Valor</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Coxa</td>
                                <td>
                                    <div class="input-field col s12 m8 l6">
                                        <input id="coxa2" value="0" type="number" class="validate">
                                        <label class="active" for="coxa2">Valor</label>
                                    </div>
                                </td>
                            </tr>


                            <tr>
                                <td>Panturrilha</td>
                                <td>
                                    <div class="input-field col s12 m8 l6">
                                        <input id="panturrilha" value="0" type="number" class="validate">
                                        <label class="active" for="panturrilha">Valor</label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col s6 m6 l8 right" style="padding:0 0;">
                            <input type="button" ng-click="salvar()" class="waves-effect waves-light green btn" value="Salvar">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- ROW -->
    </div>
</div>
<!-- CONTAINER -->