<div class="container-fluid" style="margin-top:10px">
    <div class="row clear" id="title-page">
        <div class="col s12" style="margin-bottom:20px;">
            <div class="col s12 m3 l2" style="margin-bottom:20px;">
                <a class="waves-effect grey darken-1 btn z-depth-0 col s12" ng-click="voltar()" style="margin-top:5px;"><i class="material-icons left">chevron_left</i>Voltar</a>
            </div>
            <nav class="col s12 m9 l10 z-depth-0 grey lighten-4 nav-bread">
                <div class="nav-wrapper">
                    <div class="col s12">
                        <a class="breadcrumb">Dashboard</a>
                        <a class="breadcrumb">Lista de Alunos</a>
                        <a class="breadcrumb">Gerenciar Aluno</a>
                        <a class="breadcrumb">Anamnese</a>
                        <a class="breadcrumb">Hábitos</a>
                    </div>
                </div>
            </nav>
        </div>
        <h2 class="titulo-desk center" id="nome-pagina">Hábitos</h2>
    </div>

    <div class="container">
        <div class="row" ng-controller="aluno">
            <div class="col s12 m6 l6">
                <div class="row clear" ng-repeat="habito in habitosList">
                    <div class="col s12 m12 l12">
                        <div class="escolhaEx" style="padding:10px;">
                            <input type="checkbox" class="filled-in checkboxPreenchido" id={{habito.id}} ng-model="show">
                            <label for={{habito.id}}>{{habito.nome}}</label>
                        </div>
                        <div align="center" ng-show="show" style={{habito.atributo}}>
                            <div class="input-field">
                                <input type={{habito.tipo}} class="validate" placeholder={{habito.placeholder}}>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l6">
                <div class="row clear" ng-repeat="habito in habitosList2">
                    <div class="col s12 m12 l12">
                        <div class="escolhaEx" style="padding:10px;">
                            <input type="checkbox" class="filled-in checkboxPreenchido" id={{habito.id}} ng-model="show">
                            <label for={{habito.id}}>{{habito.nome}}</label>
                        </div>
                        <div align="center" ng-show="show" style={{habito.atributo}}>
                            <div class="input-field">
                                <input type={{habito.tipo}} class="validate" placeholder={{habito.placeholder}}>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top:10px;">
                    <div class="col s6 m6 l6 right">
                        <input type="button" ng-click="salvar()" class="waves-effect waves-light green btn " value="Salvar">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>