<div class="container-fluid" style="margin-top:10px;">
    <div class="row clear" id="title-page">
        <div class="col s12" style="margin-bottom:20px;">
            <div class="col s12 m3 l2" style="margin-bottom:20px;">
                <a class="waves-effect grey darken-1 btn z-depth-0 col s12" ng-click="voltar()" style="margin-top:5px;"><i class="material-icons left">chevron_left</i>Voltar</a>
            </div>
            <nav class="col s12 m9 l10 z-depth-0 grey lighten-4 nav-bread">
                <div class="nav-wrapper">
                    <div class="col s12">
                        <a class="breadcrumb">Dashboard</a>
                        <a class="breadcrumb">Lista de Alunos</a>
                        <a class="breadcrumb">Gerenciar Aluno</a>
                        <a class="breadcrumb">Cálculo IMC</a>
                    </div>
                </div>
            </nav>
        </div>
        <h2 class="titulo-desk center" id="nome-pagina">Cálculo IMC</h2>
    </div>

    <div class="container-fluid">
        <div class="row clear">
            <form id="formulario">
                <div class="row col s12 m6 l6">
                    <div class="row">
                        <div class="input-field col s12 m12 l6">
                            <label for="peso">Peso:</label>
                            <input type="text" name="peso" id="peso" />
                        </div>
                        <div class="input-field col s12 m12 l6">
                            <label for="altura">Altura:</label>
                            <input type="text" name="altura" id="altura" />
                        </div>
                    </div>
                    <div class="row clear">
                        <div class="col s12 m12 l12">
                            <div class="col s4 m4 l4" style="padding-top: 10px;">
                                <span style="margin-left: -10px; color: rgb(158, 158, 158);">Selecione o Sexo:</span>
                            </div>
                            <div class="col s8 m6 l8">
                                <ul>
                                    <li>
                                        <input name="group1" type="radio" id="masculino" />
                                        <label for="masculino">Masculino</label>
                                    </li>
                                    <li>
                                        <input name="group1" type="radio" id="feminino" />
                                        <label for="feminino">Feminino</label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row clear">
                        <div class="input-field col s10 m12 l4">
                            <label for="imc">IMC:</label>
                            <input type="text" name="imc" id="imc" style="margin-left:35px;" disabled/>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px; padding-left: 10px;">
                        <p style="color: rgb(158, 158, 158);">Situação:
                            <div id="text1" style="color: rgb(33, 150, 243);">
                                Preencha os dados acima
                            </div>
                        </p>
                    </div>
                    <div class="row col s12 m12 l12">
                        <div class="col s6 m6 l6">
                            <input type="button" onclick="calcula_imc()" class="waves-effect waves-light green btn" value="Calcular" />
                        </div>
                        <div class="col s5 m6 l6 right">
                            <input type="button" onclick="limpar()" class="waves-effect waves-light grey btn" value="Limpar" />
                        </div>
                    </div>
            </form>

            </div>
            <div class="col s12 m6 l6">
                <form id="formulario1">
                    <h6 class="col s12" style="margin-left: 10px; text-align: center;">Relação cintura quadril (RCQ)</h6>
                    <div class="input-field col s12 m12 l12">
                        <input id="cintura" name="cintura" type="text" required>
                        <label for="cintura">Cintura</label>
                        <div ng-messages="consulta.cintura.$error">
                            <div ng-message="required">Preencha este campo.</div>
                        </div>
                    </div>
                    <div class="input-field col s12 m12 l12">
                        <input id="quadril" name="quadril" type="text" required>
                        <label for="quadril">Quadril</label>
                        <div ng-messages="consulta.quadril.$error">
                            <div ng-message="required">Preencha este campo.</div>
                        </div>
                    </div>
                    <div class="input-field col s12 m12 l12">
                        <input id="idade" name="idade" type="text" required>
                        <label for="idade">Idade</label>
                        <div ng-messages="consulta.idade.$error">
                            <div ng-message="required">Preencha este campo.</div>
                        </div>
                    </div>
                    <div class="col s12 m12 l12">
                        <div class="col s5 m6 l5" style="padding-top: 10px;">
                            <span style="margin-left: -10px; color: rgb(158, 158, 158);">Selecione o Sexo:</span>
                        </div>
                        <div class="col s8 m6 l7">
                            <ul>
                                <li>
                                    <input name="group2" type="radio" id="masculino1" />
                                    <label for="masculino1">Masculino</label>
                                </li>
                                <li>
                                    <input name="group2" type="radio" id="feminino1" />
                                    <label for="feminino1">Feminino</label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row clear">
                        <div class="input-field col s12 m12 l10">
                            <label for="imc">Resultado:</label>
                            <input type="text" name="resultado" id="resultado" style="margin-left:75px;" disabled/>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px; padding-left: 10px;">
                        <p style="color: rgb(158, 158, 158);">Situação:
                            <div id="text" style="color: rgb(33, 150, 243);">
                                Preencha os dados acima
                            </div>
                        </p>
                    </div>
                    <div class="col s12 m12 l12" style="margin-bottom:10px">
                        <div class="col s6 m6 l6">
                            <input type="button" onclick="calcula_rel()" class="waves-effect waves-light green btn" value="Calcular" />
                        </div>
                        <div class="col s5 m6 l6 right">
                            <input type="button" onclick="limpaRcq()" class="waves-effect waves-light grey btn" value="Limpar" />
                        </div>
                    </div>
                </form>
            </div>

        </div>

    </div>

    <script type="text/javascript">
        function calcula_imc() {
            var form = document.getElementById("formulario");
            altura = +form.altura.value;
            peso = +form.peso.value;

            quadrado = (altura * altura);

            calculo1 = (peso / quadrado);

            if (document.getElementById("masculino").checked) {
                if (calculo1 < 20.7) {
                    form.imc.value = calculo1;
                    document.getElementById("text1").innerHTML = "Abaixo do peso ideal";
                    document.getElementById("text1").setAttribute("style", "color: rgb(255, 0, 0)");
                }
                if (calculo1 >= 20.7 && calculo1 < 26.4) {
                    form.imc.value = calculo1;
                    document.getElementById("text1").innerHTML = "Peso ideal";
                    document.getElementById("text1").setAttribute("style", "color: rgb(0, 240, 80)");
                }
                if (calculo1 >= 25 && calculo1 < 27.8) {
                    form.imc.value = calculo1;
                    document.getElementById("text1").innerHTML = "Sobrepeso";
                    document.getElementById("text1").setAttribute("style", "color: rgb(204, 204, 0)");
                }
                if (calculo1 >= 30 && calculo1 < 31.1) {
                    form.imc.value = calculo1;
                    document.getElementById("text1").innerHTML = "Obesidade - Grau I";
                    document.getElementById("text1").setAttribute("style", "color: rgb(255, 0, 0)");
                }
                if (calculo1 > 31.4) {
                    form.imc.value = calculo1;
                    document.getElementById("text1").innerHTML = "Obesidade - Grau II";
                    document.getElementById("text1").setAttribute("style", "color: rgb(255, 0, 0)");
                }
            } else if (document.getElementById("feminino").checked) {
                if (calculo1 < 19.1) {
                    form.imc.value = calculo1;
                    document.getElementById("text1").innerHTML = "Abaixo do peso ideal";
                    document.getElementById("text1").setAttribute("style", "color: rgb(255, 0, 0)");
                }
                if (calculo1 >= 19.1 && calculo1 < 25.8) {
                    form.imc.value = calculo1;
                    document.getElementById("text1").innerHTML = "Peso ideal";
                    document.getElementById("text1").setAttribute("style", "color: rgb(0, 240, 80)");
                }
                if (calculo1 >= 25.8 && calculo1 < 27.3) {
                    form.imc.value = calculo1;
                    document.getElementById("text1").innerHTML = "Sobrepeso";
                    document.getElementById("text1").setAttribute("style", "color: rgb(204, 204, 0)");
                }
                if (calculo1 >= 27.3 && calculo1 < 32.3) {
                    form.imc.value = calculo1;
                    document.getElementById("text1").innerHTML = "Obesidade - Grau I";
                    document.getElementById("text1").setAttribute("style", "color: rgb(255, 0, 0)");
                }
                if (calculo1 > 32.3) {
                    form.imc.value = calculo1;
                    document.getElementById("text1").innerHTML = "Obesidade - Grau II";
                    document.getElementById("text1").setAttribute("style", "color: rgb(255, 0, 0)");
                }
            }
        }

        function limpar() {
            form.altura.value = null;
            form.peso.value = null;
            form.imc.value = "";
            document.getElementById("text1").setAttribute("style", "color: rgb(33, 150, 243)")
            document.getElementById("text1").innerHTML = "Preencha os dados acima";
            document.getElementById("masculino").checked = false;
            document.getElementById("feminino").checked = false;
        }
    </script>
    <script type="text/javascript">
        function calcula_rel() {
            var formulario = document.getElementById("formulario1");
            cintura = +formulario.cintura.value;
            quadril = +formulario.quadril.value;
            idade = +formulario.idade.value;

            calculo = (cintura / quadril);

            if (document.getElementById("masculino1").checked) {
                //até 29 anos
                if (idade > 15 && idade <= 29) {
                    if (calculo < 0.83) {
                        formulario.resultado.value = calculo;
                        document.getElementById("text").innerHTML = "Risco baixo";
                        document.getElementById("text").setAttribute("style", "color: rgb(0, 240, 80)");
                    }
                    if (calculo >= 0.83 && calculo <= 0.88) {
                        formulario.resultado.value = calculo;
                        document.getElementById("text").innerHTML = "Risco moderado";
                        document.getElementById("text").setAttribute("style", "color: rgb(204, 240, 80)");
                    }
                    if (calculo >= 0.89 && calculo <= 0.94) {
                        formulario.resultado.value = calculo;
                        document.getElementById("text").innerHTML = "Risco alto";
                        document.getElementById("text").setAttribute("style", "color: rgb(204, 204, 0)");
                    }
                    if (calculo > 0.94) {
                        formulario.resultado.value = calculo;
                        document.getElementById("text").innerHTML = "Risco muito alto";
                        document.getElementById("text").setAttribute("style", "color: rgb(255, 0, 0)");
                    }
                }
                //30 - 39 anos                
                if (idade >= 30 && idade <= 39) {
                    if (calculo < 0.84) {
                        formulario.resultado.value = calculo;
                        document.getElementById("text").innerHTML = "Risco baixo";
                        document.getElementById("text").setAttribute("style", "color: rgb(0, 240, 80)");
                    }
                    if (calculo >= 0.84 && calculo <= 0.91) {
                        formulario.resultado.value = calculo;
                        document.getElementById("text").innerHTML = "Risco moderado";
                        document.getElementById("text").setAttribute("style", "color: rgb(204, 240, 80)");
                    }
                    if (calculo >= 0.92 && calculo <= 0.96) {
                        formulario.resultado.value = calculo;
                        document.getElementById("text").innerHTML = "Risco alto";
                        document.getElementById("text").setAttribute("style", "color: rgb(204, 204, 0)");
                    }
                    if (calculo > 0.96) {
                        formulario.resultado.value = calculo;
                        document.getElementById("text").innerHTML = "Risco muito alto";
                        document.getElementById("text").setAttribute("style", "color: rgb(255, 0, 0)");
                    }
                }
                //40 - 49 anos{
                if (idade >= 40 && idade <= 49) {
                    if (calculo < 0.88) {
                        formulario.resultado.value = calculo;
                        document.getElementById("text").innerHTML = "Risco baixo";
                        document.getElementById("text").setAttribute("style", "color: rgb(0, 240, 80)");
                    }
                    if (calculo >= 0.88 && calculo <= 0.95) {
                        formulario.resultado.value = calculo;
                        document.getElementById("text").innerHTML = "Risco moderado";
                        document.getElementById("text").setAttribute("style", "color: rgb(204, 240, 80)");
                    }
                    if (calculo >= 0.96 && calculo <= 1.00) {
                        formulario.resultado.value = calculo;
                        document.getElementById("text").innerHTML = "Risco alto";
                        document.getElementById("text").setAttribute("style", "color: rgb(204, 204, 0)");
                    }
                    if (calculo > 1.00) {
                        formulario.resultado.value = calculo;
                        document.getElementById("text").innerHTML = "Risco muito alto";
                        document.getElementById("text").setAttribute("style", "color: rgb(255, 0, 0)");
                    }
                }
                //50 - 59 anos
                if (idade >= 50 && idade <= 59) {
                    if (calculo < 0.90) {
                        formulario.resultado.value = calculo;
                        document.getElementById("text").innerHTML = "Risco baixo";
                        document.getElementById("text").setAttribute("style", "color: rgb(0, 240, 80)");
                    }
                    if (calculo >= 0.90 && calculo <= 0.96) {
                        formulario.resultado.value = calculo;
                        document.getElementById("text").innerHTML = "Risco moderado";
                        document.getElementById("text").setAttribute("style", "color: rgb(204, 240, 80)");
                    }
                    if (calculo >= 0.97 && calculo <= 1.02) {
                        formulario.resultado.value = calculo;
                        document.getElementById("text").innerHTML = "Risco alto";
                        document.getElementById("text").setAttribute("style", "color: rgb(204, 204, 0)");
                    }
                    if (calculo > 1.02) {
                        formulario.resultado.value = calculo;
                        document.getElementById("text").innerHTML = "Risco muito alto";
                        document.getElementById("text").setAttribute("style", "color: rgb(255, 0, 0)");
                    }
                }
                //60 - 69 anos{
                if (idade >= 60 && idade <= 100) {
                    if (calculo < 0.91) {
                        formulario.resultado.value = calculo;
                        document.getElementById("text").innerHTML = "Risco baixo";
                        document.getElementById("text").setAttribute("style", "color: rgb(0, 240, 80)");
                    }
                    if (calculo >= 0.91 && calculo <= 0.98) {
                        formulario.resultado.value = calculo;
                        document.getElementById("text").innerHTML = "Risco moderado";
                        document.getElementById("text").setAttribute("style", "color: rgb(204, 240, 80)");
                    }
                    if (calculo >= 0.99 && calculo <= 1.03) {
                        formulario.resultado.value = calculo;
                        document.getElementById("text").innerHTML = "Risco alto";
                        document.getElementById("text").setAttribute("style", "color: rgb(204, 204, 0)");
                    }
                    if (calculo > 1.03) {
                        formulario.resultado.value = calculo;
                        document.getElementById("text").innerHTML = "Risco muito alto";
                        document.getElementById("text").setAttribute("style", "color: rgb(255, 0, 0)");
                    }
                }
            } else if (document.getElementById("feminino1").checked) {
                //até 29 anos
                if (idade > 15 && idade <= 29) {
                    if (calculo < 0.71) {
                        formulario.resultado.value = calculo;
                        document.getElementById("text").innerHTML = "Risco baixo";
                        document.getElementById("text").setAttribute("style", "color: rgb(0, 240, 80)");
                    }
                    if (calculo >= 0.71 && calculo <= 0.77) {
                        formulario.resultado.value = calculo;
                        document.getElementById("text").innerHTML = "Risco moderado";
                        document.getElementById("text").setAttribute("style", "color: rgb(204, 240, 80)");
                    }
                    if (calculo >= 0.78 && calculo <= 0.82) {
                        formulario.resultado.value = calculo;
                        document.getElementById("text").innerHTML = "Risco alto";
                        document.getElementById("text").setAttribute("style", "color: rgb(204, 204, 0)");
                    }
                    if (calculo > 0.82) {
                        formulario.resultado.value = calculo;
                        document.getElementById("text").innerHTML = "Risco muito alto";
                        document.getElementById("text").setAttribute("style", "color: rgb(255, 0, 0)");
                    }
                }
                //30 - 39 anos                
                if (idade >= 30 && idade <= 39) {
                    if (calculo < 0.72) {
                        formulario.resultado.value = calculo;
                        document.getElementById("text").innerHTML = "Risco baixo";
                        document.getElementById("text").setAttribute("style", "color: rgb(0, 240, 80)");
                    }
                    if (calculo >= 0.72 && calculo <= 0.78) {
                        formulario.resultado.value = calculo;
                        document.getElementById("text").innerHTML = "Risco moderado";
                        document.getElementById("text").setAttribute("style", "color: rgb(204, 240, 80)");
                    }
                    if (calculo >= 0.79 && calculo <= 0.84) {
                        formulario.resultado.value = calculo;
                        document.getElementById("text").innerHTML = "Risco alto";
                        document.getElementById("text").setAttribute("style", "color: rgb(204, 204, 0)");
                    }
                    if (calculo > 0.84) {
                        formulario.resultado.value = calculo;
                        document.getElementById("text").innerHTML = "Risco muito alto";
                        document.getElementById("text").setAttribute("style", "color: rgb(255, 0, 0)");
                    }
                }
                //40 - 49 anos{
                if (idade >= 40 && idade <= 49) {
                    if (calculo < 0.73) {
                        formulario.resultado.value = calculo;
                        document.getElementById("text").innerHTML = "Risco baixo";
                        document.getElementById("text").setAttribute("style", "color: rgb(0, 240, 80)");
                    }
                    if (calculo >= 0.73 && calculo <= 0.79) {
                        formulario.resultado.value = calculo;
                        document.getElementById("text").innerHTML = "Risco moderado";
                        document.getElementById("text").setAttribute("style", "color: rgb(204, 240, 80)");
                    }
                    if (calculo >= 0.80 && calculo <= 0.87) {
                        formulario.resultado.value = calculo;
                        document.getElementById("text").innerHTML = "Risco alto";
                        document.getElementById("text").setAttribute("style", "color: rgb(204, 204, 0)");
                    }
                    if (calculo > 0.87) {
                        formulario.resultado.value = calculo;
                        document.getElementById("text").innerHTML = "Risco muito alto";
                        document.getElementById("text").setAttribute("style", "color: rgb(255, 0, 0)");
                    }
                }
                //50 - 59 anos
                if (idade >= 50 && idade <= 59) {
                    if (calculo < 0.74) {
                        formulario.resultado.value = calculo;
                        document.getElementById("text").innerHTML = "Risco baixo";
                        document.getElementById("text").setAttribute("style", "color: rgb(0, 240, 80)");
                    }
                    if (calculo >= 0.74 && calculo <= 0.81) {
                        formulario.resultado.value = calculo;
                        document.getElementById("text").innerHTML = "Risco moderado";
                        document.getElementById("text").setAttribute("style", "color: rgb(204, 240, 80)");
                    }
                    if (calculo >= 0.82 && calculo <= 0.88) {
                        formulario.resultado.value = calculo;
                        document.getElementById("text").innerHTML = "Risco alto";
                        document.getElementById("text").setAttribute("style", "color: rgb(204, 204, 0)");
                    }
                    if (calculo > 0.88) {
                        formulario.resultado.value = calculo;
                        document.getElementById("text").innerHTML = "Risco muito alto";
                        document.getElementById("text").setAttribute("style", "color: rgb(255, 0, 0)");
                    }
                }
                //60 - 69 anos{
                if (idade >= 60 && idade <= 100) {
                    if (calculo < 0.76) {
                        formulario.resultado.value = calculo;
                        document.getElementById("text").innerHTML = "Risco baixo";
                        document.getElementById("text").setAttribute("style", "color: rgb(0, 240, 80)");
                    }
                    if (calculo >= 0.76 && calculo <= 0.83) {
                        formulario.resultado.value = calculo;
                        document.getElementById("text").innerHTML = "Risco moderado";
                        document.getElementById("text").setAttribute("style", "color: rgb(204, 240, 80)");
                    }
                    if (calculo >= 0.84 && calculo <= 0.90) {
                        formulario.resultado.value = calculo;
                        document.getElementById("text").innerHTML = "Risco alto";
                        document.getElementById("text").setAttribute("style", "color: rgb(204, 204, 0)");
                    }
                    if (calculo > 0.90) {
                        formulario.resultado.value = calculo;
                        document.getElementById("text").innerHTML = "Risco muito alto";
                        document.getElementById("text").setAttribute("style", "color: rgb(255, 0, 0)");
                    }
                }
            }
        }

        function limpaRcq() {
            formulario.cintura.value = null;
            formulario.quadril.value = null;
            formulario.idade.value = null;
            formulario.resultado.value = "";
            document.getElementById("text").setAttribute("style", "color: rgb(33, 150, 243)")
            document.getElementById("text").innerHTML = "Preencha os dados acima";

            document.getElementById("masculino1").checked = false;
            document.getElementById("feminino1").checked = false;
        }
    </script>
</div>