<div class="container-fluid" style="margin-top:10px;">
    <div class="row clear" id="title-page">
        <div class="col s12" style="margin-bottom:20px;">
            <div class="col s12 m3 l2" style="margin-bottom:20px;">
                <a class="waves-effect grey darken-1 btn z-depth-0 col s12" ng-click="voltar()" style="margin-top:5px;"><i class="material-icons left">chevron_left</i>Voltar</a>
            </div>
            <nav class="col s12 m9 l10 z-depth-0 grey lighten-4 nav-bread">
                <div class="nav-wrapper">
                    <div class="col s12">
                        <a class="breadcrumb">Dashboard</a>
                        <a class="breadcrumb">Lista de Alunos</a>
                        <a class="breadcrumb">Gerenciar Aluno</a>
                        <a class="breadcrumb">Anamnese</a>
                        <a class="breadcrumb">Informações Básicas</a>
                    </div>
                </div>
            </nav>
        </div>
        <h2 class="titulo-desk center" id="nome-pagina">Informações Básicas</h2>
    </div>
    <div class="container" id="geral">

        <div class="row">
            <div class="input-field col s12 m6 l3">
                <input type="number" required min="0" name="peso" ng-model="ficha.peso" aria-label="peso" id="peso">
                <label for="peso">Peso</label>
            </div>
            <div class="input-field col s12 m6 l3">
                <input type="number" required min="0" name="altura" ng-model="ficha.altura" aria-label="altura" id="altura">
                <label for="altura">Altura</label>
            </div>
            <div class="input-field col s12 m6 l3">
                <input type="number" required min="0" name="pressao" ng-model="ficha.pressao" aria-label="pressao" id="pressao">
                <label for="pressao">Pressao arterial</label>
            </div>
            <div class="input-field col s12 m6 l3">
                <input type="number" required min="0" name="pesoIdeal" ng-model="ficha.pesoIdeal" aria-label="pesoIdeal" id="pesoIdeal">
                <label for="pesoIdeal">Peso ideal</label>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m12 l8">
                <div class="col s6 m4 l4" style="padding-top: 10px;">
                    <span>Horário disponível para treino</span>
                </div>
                <div class="col s6 m6 l8">
                    <ul>
                        <li>
                            <input name="group1" type="radio" id="test1" />
                            <label for="test1">Manhã</label>
                        </li>
                        <li>
                            <input name="group1" type="radio" id="test2" />
                            <label for="test2">Tarde</label>
                        </li>
                        <li>
                            <input name="group1" type="radio" id="test3" />
                            <label for="test3">Noite</label>
                        </li>
                        <li>
                            <input name="group1" type="radio" id="test4" />
                            <label for="test4">Integral</label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col s12 m12 l8">
                <div class="col s6 m6 l4" style="padding-top: 10px;">
                    <span>Frequência semanal</span>
                </div>
                <div class="col s6 m6 l8">
                    <ul>
                        <li>
                            <input name="group2" type="radio" id="freq1" />
                            <label for="freq1">2x</label>
                        </li>
                        <li>
                            <input name="group2" type="radio" id="freq2" />
                            <label for="freq2">3x</label>
                        </li>
                        <li>
                            <input name="group2" type="radio" id="freq3" />
                            <label for="freq3">4x</label>
                        </li>
                        <li>
                            <input name="group2" type="radio" id="freq4" />
                            <label for="freq4">5x</label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s6 m6 l4 right">
                <input type="button" ng-click="salvar()" class="waves-effect waves-light green btn col s12 m12 l12" value="Salvar">
            </div>
        </div>
    </div>
</div>

<div class="row"></div>