<div id="footerFixo">
    <div class="row" ng-controller="aluno">
        <div class="col s3">
            <a ng-click="voltar()">
                <div class="botoesFooter center">
                    <span><i class="material-icons">keyboard_arrow_left</i></span>
                    <span class="footName">Voltar</span>
                </div>
            </a>
        </div>

        <div class="col s3">
            <a ng-click="painel()">
                <div class="botoesFooter center">
                    <span><i class="material-icons">dashboard</i></span>
                    <span class="footName">Menu</span>
                </div>
            </a>
        </div>

        <div class="col s3">
            <a ng-click="alunos()">
                <div class="botoesFooter center">
                    <span><i class="material-icons">people_outline</i></span>
                    <span class="footName">Alunos</span>
                </div>
            </a>
        </div>

        <div class="col s3">
            <a ng-click="painel()">
                <div class="botoesFooter center">
                    <span><i class="material-icons">account_box</i></span>
                    <span class="footName">Conta</span>
                </div>
            </a>
        </div>
    </div>
</div>