<nav class="menu-topo">
    <div class="nav-wrapper">
        <div class="container-fluid">
            <a href="inicio.html#/" class="brand-logo"><img src="imagens/logo.png" width="150">
            </a>

            <ul class="right hide-on-med-and-down ul-topo">
                <li class="li-topo"><a ng-click="painel()">Painel</a>
                </li>
                <li class="li-topo"><a ng-click="alunos()">Alunos</a>
                </li>
                <li class="li-topo"><a ng-click="instrutor()">Instrutor</a>
                </li>
                <li class="li-topo"><a ng-click="()">Finanças</a>
                </li>
                <li class="li-topo"><a ng-click="()">Relatorio</a>
                </li>
                <li class="li-topo"><a ng-click="()">Minha Conta</a>
                </li>
            </ul>

        </div>
    </div>
</nav>

<!--TÍTULO FIXO -Tículo Mobile -->
<script type="text/javascript">
    $(document).ready(function() {
        $('#navFixa #tituloNavFixa').pushpin({
            top: $('#titulo-mobile').offset().top
        });
    });
</script>

<div id="navFixa">
    <div id="tituloNavFixa" style="background:#f5f5f5; width:100%; padding:10px 0; position:relative; z-index:1050; border-bottom: 5px solid rgba(237, 237, 237, 0.87);      transition: all .4s linear;">
        <h6 id="titulo-mobile" class="center">Titulo da Página</h6>
    </div>
</div>